.error_modal_container_bottom {
  border-top: 1px solid var(--movetodata-border-color-default);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  gap: 0.5rem;
}
