<Configuration monitorInterval="30" name="Default">
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] [%d{yyyy-MM-dd HH:mm:ss Z}] [%X{RequestId}] [%logger{36}] - [%msg] %n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
        </Console>

        <RollingFile name="File-Appender"
                     fileName="${env:BOSLER_MOUNT_PATH}/logs/boson/application/boson.log"
                     filePattern="${env:BOSLER_MOUNT_PATH}/logs/boson/application/archive/boson.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] [%d{yyyy-MM-dd HH:mm:ss Z}] [%X{RequestId}] [%logger{36}] - [%msg] %n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="io.bosler" level="INFO" additivity="false">
            <AppenderRef ref="File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>
