.bosler_edit_text {
  padding: 0 0.5rem;
  caret-color: black;

  &:hover {
    background-color: var(--movetodata-hover-color);
  }

  &:focus {
    background-color: var(--movetodata-hover-color);
  }
}
