pycodestyle
mccabe
pycodestyle
pydocstyle
pyflakes==3.0.0
pylint
rope
yapf
autopep8
sqlfluff==2.3.2
python-lsp-server
Flask==2.3.3
Flask_Limiter==3.5.0
flask-talisman==1.1.0
gevent==23.9.1
#greenlet==2.0.2
python-dotenv==1.0.0
pytest==7.4.2
pytest-cov==4.1.0
coverage==7.3.1
black==23.9.1
requests==2.31.0
beautifulsoup4==4.12.2
tox==4.11.3
numpy
pyspark
pandas
scikit-learn
seaborn
jedi
parso
pluggy
python-lsp-jsonrpc
ujson
yapf
requests
