.gridCustomizer {
  // background-color: var(--movetodata-border-color-default);
  padding: 0.5rem;
  border-radius: 3px;
  .ant-form-item {
    margin-bottom: 0px !important;
  }
  border: 1px dashed var(--movetodata-border-color-default);
}

.bigNumberAlign {
  &__no_cursor {
    opacity: 0.65;
    * {
      cursor: not-allowed !important;
    }
  }
  &__no_pointer_event {
    * {
      pointer-events: none !important;
    }
  }
}

.thresHoldCustomizer {
  .ant-input-number {
    width: 100% !important;
  }
}

.customizer {
  padding: 6px;
}

.customThemeCross {
  padding: 1px;
  position: absolute;
  border: 1px solid var(--movetodata-border-color-default);
  background: var(--movetodata-hover-color);
  cursor: pointer;
  top: -5px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  right: -10px;
  padding: 0 !important;
  margin: 0 !important;

  &:hover {
    background-color: var(--movetodata-border-color-default);
  }
}

.radioButtonPadding {
  .ant-radio-button-wrapper {
    span {
      display: flex;
      height: 100%;
    }
  }
}
