.container {
  border: 1px solid var(--movetodata-border-color-default);
  border-radius: 2px;
}

.outerBody {
  display: flex;
  overflow: hidden;
  // flex-direction: column;
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }
}
.leftPortion {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 400px;
  flex: 1 1 auto;
}
.header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headingText {
    font-weight: 500;
  }
  .extraHeading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content {
  flex: 1 1 auto;
  padding: 16px 20px;
  overflow: auto;
  position: relative;
}
.rightPortion {
  // width: fit-content;
  width: 100%;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px 15px;
  min-width: 200px;
  max-width: 450px;
  flex-wrap: wrap;
  align-items: center;
}

.footer {
  padding-left: 20vw;
  display: flex;
  flex: 0 0 auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: center;
  padding: 16px 24px;
  border-top: 1px solid var(--movetodata-border-color-default);
  @media (max-width: 460px) {
    padding: 0 13vw;
  }
}
.footerText {
  display: flex;
  margin-right: 16px;
  color: var(--movetodata-font-color-muted);
  font-size: 12px;
}
.footerBtns {
  display: flex;
  gap: 8px;
}
