.container {
  display: flex;
  flex-direction: column;
  // width: 30vw;
  height: 100%;
  // height: 400px;
}
.panel {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  min-height: 0px;
}

.switch {
  // margin: 0px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0px;
}
.edits {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  padding: 15px 12px 10px;
  overflow: auto;
}

// Edit Row
.icon {
  display: flex;
  flex: 0 0 auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: rgb(113, 122, 148);
}
.editRowContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 5px;
  padding: 8px 5px;
}

.editRowHead {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.editRowHeading {
  padding: 1px 0px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
}

.editRowName {
  font-weight: 500;
  margin-right: 4px;
  color: var(--bosler-font-color-default);
}
.editRowChanges {
  margin-right: 6px;
  color: var(--bosler-font-color-default);
}
.editRowTime {
  color: var(--bosler-font-color-muted);
}

.editRowContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin: 2px 0px 2px 25px;
  &:before {
    position: absolute;
    top: 6px;
    bottom: 2px;
    left: 0px;
    display: block;
    width: 1px;
    background-color: rgb(236, 237, 242);
    content: "";
  }
}
.editRowBucket {
}
