/*--------------General CSS---------*/

/* --------Custom-icons------- */

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    color: #212932;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


img {
    border: 0 none;
    max-width: 100%;
}

a {
    outline: none;
    cursor: pointer;
    color: #24527a;
}

a:hover,
a:focus {
    color: #024cac;
    text-decoration: none;
}

a,
button,
.btn {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.orange-color {
    color: #FF7607;
}


/*-----------------------main styles starts here-----------------------------------------------*/

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*=====================================	PLACE HOLDER CSSS START HERE 		====================================*/

input.form-control,
textarea.form-control {
    background: #fff;
    border-color: #E0E0E0;    
    box-shadow: none;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 46px;
    color: #23211F;
    padding: 10px 15px;
    font-weight: 400;
    border-radius: 3px;
}

textarea.form-control {
    height: auto;
    overflow: auto;
    white-space: normal;
    resize: none;
}

.form-group {
    margin-bottom: 30px;
}
.container-large {width: 100%; max-width: 1330px; margin: 0 auto;}

/*===================================== Commen Butons ===================================*/

.medium-btn {
    border-radius: 22.5px;
    border: 1px solid #24527a;
    text-align: center;
    color: #fff;
    padding: 12px 15px 12px;
    font-size: 14px;
    min-width: 147px;
    font-weight: 600;
    line-height: 1.40022222;
    background-color:#24527a;
    
}

.medium-btn:last-child {
    margin-right: 0;
}

.medium-btn:hover,
.medium-btn:focus {
    background-color: #2ab415;
    border-color: #2ab415;
    color: #fff;
}

.navbar-brand {
    height: auto;
}

.first-header {
   background-color: transparent;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 205;
    color: #fff;
}
.first-header .top-nav {padding: 9px 0; background-color: #24527a;}
.second-header .top-nav {background-color: #2394c9;padding: 9px 0;}
.second-header {background-color: #24527a;color: #fff; position: relative;}

.navbar-brand img, .navbar-brand {
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
/* header, .navbar-brand img, .navbar-brand, header .container, .navbar-nav, .navbar-nav li, .navbar-nav li a, .sticky-header, .top-nav, .top-info, .top-info li, .top-info li i, .navbar {
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
} */
.top-info {display: inline-block;}
.top-info li {display: inline-block; position: relative; border-right: 1px solid #8CA8CC; padding-right: 20px; margin-right: 20px;}
.top-info li a {color: #fff;}
.top-info li:last-child {border-right: none; padding-right: 0; margin-right: 0;}
.top-info li i {margin-right: 15px; display: inline-block;font-size: 16px;}
.top-nav {font-size: 13px; text-align: right;}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 14px;
    padding-right: 14px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
}

header .dropdown-menu {
    padding: 0;
    border-radius: 10px;
    border-color: #24527a;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

header .dropdown-item {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #f3f3f3;
    /* color: #79746E; */
    font-weight: 600;
}

header .dropdown-item:last-child {
    border-bottom: none;
}

header .dropdown-item:hover,
header .dropdown-item:focus {
    background-color: #24527a;
    color: #fff;
}
.navbar-brand .sticky-logo {width: 0px;}
header .navbar-brand img {width: 50px;}
.sticky-header {position: fixed;left: 0; top: 0; width: 100%;background-color: #fff;box-shadow: 0 0 10px rgba(0,0,0,0.5);z-index: 100;}
.sticky-header .top-nav {display: none;}
.sticky-header .navbar-brand img {width: 0px;}
.sticky-header .navbar-brand .sticky-logo {width: 50px;}
.sticky-header .navbar {padding-top: 1rem;padding-bottom: 1rem;}
.sticky-header .navbar-nav .nav-link {color: #263649;}
.sticky-header .navbar-nav .nav-link:hover, .sticky-header .navbar-nav .nav-link:focus {color: #24527a;}
.sticky-header .navbar-nav .header-btn {color: #fff; background-color: #24527a; border-color: #24527a;}

.sticky-header .dropdown-toggle::after {background: url(../images/black-arrow.png);}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus  {
    color: #fff;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin-bottom: 6px;
}
.title-link {color: #212932 !important;}
.title-link:hover, .title-link:focus {color: #24527a !important;}
.navbar-nav .header-btn {
    border-radius: 22.5px;
    border: 1px solid #fff;
    text-align: center;
    color: #24527a;
    padding: 11px 15px 11px;
    font-size: 14px;
    min-width: 188px;
    font-weight: 700;
    line-height: 1.40022222;
    background-color: #fff;
}

.navbar-nav .header-btn:hover,
.navbar-nav .header-btn:focus {
    background-color: #24527a;
    border-color: #24527a;
    color: #fff;
    box-shadow: none;
}

.navbar-nav .nav-link i {
    font-size: 18px;
    margin: 0 0 0 15px;
}

.nav-item {
    position: relative;
}
header .dropdown-toggle::after {border: none; width: 9px; height: 5px; background: url(../images/white-arrow.png); display: inline-block; vertical-align: middle;}

.banner-slide-img {
    position: absolute; right: -10%; top: 50%; transform: translate(0,-50%); -ms-transform: translate(0,-50%);
}
.mobile-slide {transform: translate(0,0%); -ms-transform: translate(0,0); top: auto; bottom: 0;}
.home-banner {
    position: relative;
    padding: 0;
    color: #fff;
}
.home-banner .carousel-indicators {max-width: 1140px; margin: 0 auto; bottom: 45px;-ms-flex-pack: left; justify-content: left; padding: 0px;}
.navbar {padding-top: 1.3rem; padding-bottom: 1.4rem;}
.home-banner .container {position: relative;min-height: 70vh;}
.home-banner .banner-title {font-size: 55px; line-height: 66px; font-weight: 800;margin: 0 0 25px;}
.home-banner h3 {font-size: 18px; line-height: 27px; font-weight: 600;margin: 0 0 25px;}
.banner-left {width:48%;position: absolute; left: 0; top: 50%; transform: translate(0,-50%); -ms-transform: translate(0,-50%);}

.home-banner .carousel-fade .carousel-item {background-position: center top; background-repeat: no-repeat; background-size: cover;  padding: 135px 0 0;}
.carousel-indicators li {width: 9px; height: 9px;border-radius: 50%; margin: 0 6px;}
.logos-row {display: inline-block;}
.logos-row li {display: inline-block;}
.technologyes-logo {border-bottom: 1px solid #e5e5e5; padding: 10px 0;}
.welcome-section {padding: 65px 0 0;}
.welcome-block {padding: 0 0 50px; border-bottom: 1px solid #e4e4e4;} 
.section-title {font-size: 40px; color: #24527a; text-align: center; font-weight: 800; text-align: center;margin: 0 0 30px;}
.welcome-block p { font-size: 18px; line-height: 27px; color: #212932;}
.service-section {padding: 65px 0 20px;}
.section-note {font-size: 18px; line-height: 27px; color: #212932;}
.service-section .section-title {margin-bottom: 10px;}
.service-section .section-note {margin-bottom: 40px; text-align: center;}
.service-box {background: #FFFFFF; padding: 30px; width: 100%; max-width: 340px; position: relative; z-index: 5;}
.service-box:hover {box-shadow: 0 42px 44px -10px rgba(0,0,0,0.08);transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;position: relative;
    z-index: 50;}
    .cliend-testimonial {padding-bottom: 15px; min-height: 235px;}
    .cliend-testimonial img {border-radius: 10px;}
.service-section  .col-lg-4 {position: static;}   
.service-box figure {margin-bottom: 10px; min-height: 72px;}
.service-box h3 {font-size: 20px; line-height: 27px; font-weight: 700; margin: 0 0 10px;}
.service-box p {font-size: 16px; line-height: 26px;}
.service-box p:last-child{margin: 0;}
.stateticks-block .counter {font-size: 55px; font-weight: 800;margin: 0;}
.stateticks-block .counter-name {font-size: 18px; font-weight: 700;margin: 15px 0 0;}
.blue-color {color: #24527a;}
/* movetodata color */
.stateticks-block {text-align: center; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; padding: 35px 0 30px;}
.industries-section {padding: 65px 0 0;}
.industries-section .section-title {margin-bottom: 10px;}
.industries-section .section-note {margin-bottom: 40px; text-align: center;}
.industry-circle {width: 85px; height: 85px; display: block; margin: 0 auto; border-radius: 50%; background-color: #24527a; color: #fff; text-align: center; line-height: 85px; transition: all .5s ease-in-out; }
.industries-block:hover .industry-circle, .work-block:hover .industry-circle {transform: scale(1.1); -webkit-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
.industry-title {font-size: 16px;color: #24527a;letter-spacing: 0;text-align: center; margin: 20px 0 0; font-weight: 700;}
.industries-block {margin-bottom: 55px;}
.choose-section {background-color:#F0F4EF; padding: 65px 0 55px;}
.choose-box {background-color: #fff; padding: 25px 15px; text-align: center; margin-bottom: 20px;}
.choose-box figure {min-height: 50px; margin: 0 0 15px;}
.choose-box p {font-size: 16px; line-height: 24px;}
.choose-box p:last-child {margin-bottom: 0;} 
.client-slide p {font-size: 16px; color: #4B5A6D; line-height: 32px; font-style: italic; padding-bottom: 30px; min-height: 235px; margin: 0;}
.client-slide h3 {font-size: 21px; margin:0 0 10px; font-weight: 800;}
.client-slide h5 {font-size: 14px; margin:0; font-weight: 400; padding-left: 15px;}
.our-client-section {padding: 65px 0 70px;}
.our-client-section .carousel {margin-top: 35px;}
.our-client-section .carousel-indicators {position: relative; margin: 0;-ms-flex-pack: left; justify-content: left; margin-top: 34px;}
.our-client-section .carousel-indicators li {background-color: #d3d7da; opacity: 1;}
.our-client-section .carousel-indicators .active {background-color: #24527a;}
.branch-map {position: relative;}
footer {background-color: #24527a;color: #2394c9; padding: 85px 0 40px; font-size: 14px;}
.country-info { margin-bottom: 35px;}
.country-info li {margin-bottom: 30px;}
.country-info li.name-phone {margin-bottom: 30px; position: relative; padding-left: 40px;}
.name-phone a {color:#808C9B;}
.name-phone a:hover, .name-phone a:focus {color: #fff;}
.country-info li.name-phone .country-name {font-weight: 600; color: #fff; display: inline-block; padding-right: 15px;}
.country-info li.name-phone figure {position: absolute; left: 0; top: 0; margin: 0;}
.country-info li.name-email {border-top: 1px solid #4f5760; margin: 0 0 30px; padding-top: 35px;}
.country-info li.name-email .custom-icons {font-size: 17px;}
.country-info li.name-email figure {top: 34px;}
.footer-menu h3 {color: #fff; font-size: 14px; font-weight: 700; margin: 0 0 25px;}
.footer-menu li {margin: 0 0 15px;}
.footer-menu li:last-child {margin: 0;}
.footer-menu li a {color: #808C9B;}
.footer-menu li a:hover, .footer-menu li a:focus {color: #fff;}
.footer-bottom {border-top: 1px solid #394a5f; padding-top: 30px; margin-top: 40px;}
.social-media {
    text-align: left;
}
.social-media li {
    display: inline-block;
    margin-left: 5px;
}

.social-media li a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #3f5066;
    line-height: 43px;
    text-align: center;
    color: #fff;
    display: inline-block;
}

.social-media li a:hover,
.social-media li a:focus {
    background-color: #24527a;
    border-color: #24527a;
    color: #fff;
}
.copyright {margin: 0; font-size: 12px;}
.pin {
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #CCD2D9;
    border-radius: 50%;
    position: absolute;
    
    left: 0;
    right: 0;
    top: 0;
    margin:0 auto;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    z-index: 5;
  }
  .pin:after {
    content: '';
    width: 6px;
    height: 6px;
    margin: 9px 0 0 8px;
    background: #24527a;
    position: absolute;
    border-radius: 50%;
  }
  
  .pin::before {
    content: "";
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    margin: -3px 0 0 -3px;
    -webkit-animation: pulsate 1s ease-out;
    -moz-animation: pulsate 1s ease-out;
    -o-animation: pulsate 1s ease-out;
    -ms-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    border: 1px solid #CCD2D9;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    animation-delay: 1.1s;
    left: 0;
    right: 0;
    background-color: rgba(195, 203, 214, 0.3);
  }
  @-moz-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @-o-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @-moz-keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }
  @-webkit-keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }
  @-o-keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }
  @keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }

  .map-pin {position: absolute; width: 40px; height: 40px;}
.pin-1 {top: 11px; left: 100px;}
.pin-2 {top: 84px; left: 57px;}
.pin-3 {top: 95px; left: 174px;}
.pin-4 {bottom: -13px; left: 164px;}
.pin-5 {top: 53px; left: 281px;}
.pin-6 {top: 100px; left: 281px;}
.pin-7 {top: 90px; left: 315px;}
.pin-8 {top: 125px; left: 255px;}
.pin-9 {top: 160px; left: 237px;}
.pin-10 {top: 205px; left: 225px;}
.pin-11 {top: 238px; right: 90px;}

/* ---------Inner pages---------- */
.inner-banner {position: relative; background-position: center top; background-size: cover; background-repeat: no-repeat; color: #fff;background-color: #000;}
.inner-banner::before {background-color: rgba(0, 0, 0, 0.65); position: absolute; left: 0; top: 0; width: 100%; height: 100%; content: "";}
.inner-banner .container{position: relative; z-index: 5;}
.banner-space {min-height: 417px; padding: 15px 0;}
.page-title {font-size: 40px; font-weight: 800; margin: 0 0 10px; font-weight: 800;}
.banner-disc {font-size: 18px; font-weight: 600; margin: 0 0 30px; line-height: 27px;}
.inner-banner .medium-btn, .inner-pages .medium-btn {min-width: 198px;}

/* -------About Us Start-------- */

.about-welcome-section {padding: 40px 0 0px;}
.about-welcome-section p {line-height: 27px; font-size: 18px; margin-bottom: 20px;}
.methods-work-section {padding:80px 0 70px; background-color: #f6fafe;}
.work-block {max-width: 290px; position: relative; padding-left: 105px; min-height: 85px; width: 100%;}
.work-block .industry-circle {position: absolute; left: 0; top: 0;}
.work-block h3 {font-weight: 600; color: #24527a; font-size: 20px; margin: 0 0 5px;}
.work-block p {color: #212932; font-size: 16px; margin: 0; line-height: 26px;}

.achievements-section {padding: 40px 0 45px;}
.section-note {font-size: 18px; line-height: 27px; color: #212932;}
.achievements-section .section-title {margin-bottom: 10px;}
.achievements-section .section-note {margin-bottom: 40px; text-align: center;}
.achievements-block .counter {font-size: 55px; font-weight: 800;margin: 0;}
.achievements-block .counter-name {font-size: 18px; font-weight: 700;margin: 15px 0 0;}
.achievements-block {text-align: center;}
.achievements-block figure img {max-height: 57px; max-width: 59px;}

/* -------------Blog Pages----------- */
.blog-cell {padding-bottom: 20px; margin-bottom: 35px; border-bottom: 1px solid #e4e4e4;}
.blog-cell h3 {font-weight: 700; font-size: 20px; color: #24527a; margin: 0 0 5px;}
.blog-date {display: inline-block; padding-right: 20px; font-size: 14px;color: #24527a;}
.blog-cell p {font-size: 18px; line-height: 27px; margin: 20px 0 0;}
.blog-content {padding-top: 60px; padding-bottom: 50px;}
.blog-cell .medium-btn {min-width: 145px;}
.page-link {background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 2px; width: 40px; height: 40px; padding: 0; margin-right: 10px; text-align: center; line-height: 38px; font-weight: 700;}
  .page-item.active .page-link {background-color: #24527a; border-color: #24527a;}
  .page-item:first-child .page-link, .page-item:last-child .page-link  {width: 65px; color: #fff; background-color: #24527a; border-radius: 2px; border-color: #24527a;}
.blog-list {padding-right: 25px;}  
.category-box {background-color: #F6F6F6; border: 1px solid #E7E7E7; padding: 35px 20px; margin-bottom: 20px; border-radius: 3px;}
.right-part h2 {font-size: 27px; margin: 0 0 20px; font-weight: 700;letter-spacing: -0.2px;}
.category-list li {margin: 0 0 16px; position: relative; padding-left: 26px;font-size: 16px; font-weight: 600;letter-spacing: -0.2px;}
.category-list li:last-child {margin-bottom: 0;}
.category-list li::before {width: 15px; height: 15px; background-color: #fff; border: 1px solid #006aff; border-radius: 50%; position: absolute; left: 0; top: 5px; content: "";}
.category-list li::after {width: 5px; height: 5px; background-color: #006aff; border-radius: 50%; position: absolute; left: 5px; top: 10px; content: "";}
.category-list li a {color: #212932; font-size: 16px; font-weight: 600;}
.category-list li a:hover, .category-list li a:focus {color: #006aff;}
.post-box {border: 1px solid #E7E7E7; padding: 35px 20px; margin-bottom: 20px; border-radius: 3px;}
.blog-detail p {font-size: 18px; line-height: 27px; margin-bottom: 20px;}
.sub-title {font-size: 27px; font-weight: 700; margin: 0 0 15px;}
.advantages-cell {margin-bottom:25px;} 
.advantages-cell h4 {font-size: 20px; font-weight: 700; margin: 0 0 10px;}
.advantages-cell p {font-size: 16px; line-height: 27px; margin-bottom: 25px;}
.advantages-cell p:last-child {margin-bottom: 0;}
/* ---------Contact Us Start------- */
.contact-content {padding-top: 60px; padding-bottom: 20px;}
.contact-welcome p {font-size: 18px; line-height: 27px; margin-bottom: 25px;}
.contact-box {background-color: #FFFFFF;border: 1px solid #E7E7E7;border-radius: 3px; padding: 40px 30px; border-radius: 3px;}
.contact-box h3 {position: relative; padding-left: 35px; min-height: 15px; margin: 0 0 25px; font-size: 20px; font-weight: 700;}
.contact-box h3 i {position: absolute; left: 0; top:0px;}
.contact-box h3 i img {max-width: 20px; max-height: 15px;}
.contact-box p {font-size: 16px; line-height: 24px; margin-bottom: 20px;}
.contact-box h5 {margin:0; font-size: 15px; font-weight: 700;}
.contact-box h5 a {color: #212932;}
.contact-box h5 a:hover, .contact-box h5 a:focus {color: #24527a;}
.contact-box h5 i {margin-right: 10px;}
.common-form {background-color: #f6fafe; padding: 70px 80px;}
.contact-form {width: 100%; max-width: 480px; margin: 0 auto;}
.common-form .section-title {margin-bottom: 10px;}
.common-form .section-note {margin-bottom: 40px; text-align: center;}
.form-group {margin-bottom: 30px;}
.contact-main {padding-bottom: 50px;}
.request-form {margin: 60px 0;}
.bootstrap-select .dropdown-toggle::after {
  background: url(../images/black-arrow.png); border: none; width: 9px; height: 5px; position: absolute; right: 12px; top: 20px;
}
button.dropdown-toggle .bs-caret {border: none;}
.addon-field {position: relative;}
.addon-field .form-control {padding-left: 40px;}
.addon-field i{position: absolute; left: 15px; top: 10px;}
.browse-btn, .browse-btn:hover, .browse-btn:focus {background-color: #24527a;
  border-radius: 22.5px; color: #fff; font-weight: 700; min-width: 125px;}
  .file-btn {overflow: hidden; position: relative; cursor: pointer;}
  .file-btn input[type="file"] {position: absolute; width: 100%; height: 100%; opacity: 0;}
  .file-link {color: #212932;}

  .input-wrapper {
    display: block;
    position: relative;
  }
  
  .input-wrapper input {
    background: #fff;
 
  }
  
  .input-wrapper input:valid + .placeholder {
    display: none;
  }
  
  .input-wrapper .placeholder {
    position: absolute;
    top: 12px;
    left:15px;
    z-index:auto;
 
  }
  
  .input-wrapper .placeholder::before {
    content: attr(data-placeholder);
    color: #6c757d;
  }
 .inner-banner .blog-date {color: #fff;}

  
  .input-wrapper .placeholder::after {
    content: " *";
    color: #ec1818;
  }

/*-------- Portfolio----------- */
.portfolio-content {padding-top: 60px;
  padding-bottom: 50px;}
.nav-tabs .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {font-size: 15px; font-weight: 600;color: #24527a; border: none; border-bottom: 4px solid transparent; padding: 0 30px 10px; background-color: transparent;}  
.nav-tabs .nav-item {margin: 0;}
.nav-tabs {border-bottom-color: #e3e3e3; margin-bottom: 55px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {border-bottom-color: #24527a; color: #24527a;}
.tab-content {padding-bottom: 30px;}
.work-img {background-color:#FAEBEA; text-align: center; display: block;}
.work-content {padding: 25px 0 0;}
.work-content h3 {color: #24527a; font-size: 20px; font-weight: 700; margin: 0 0 6px;}
.work-content h3 a {color: #24527a;}
.work-content h3 a:hover {color: #24527a;}
.work-content h5 { font-size: 14px; font-weight:400; margin:0px;}
.work-content p { font-size: 16px;  margin:20px 0px 0; line-height: 26px;}
.gray-color {color: #81868B;}
.portfolio-content .tab-content {padding-right: 70px;}
.work-box {margin-bottom: 60px;}

.portfolio-welcome-section {padding:0px 0 0px;}
.portfolio-welcome-section p {line-height: 27px; font-size: 18px; margin-bottom: 20px;}
.technology-row {margin: 0 -5px 60px;}
.technology-cell {width: 20%; float: left; padding: 0 5px;}
.technology-box {background-color: #F7F8FA; border: 1px solid #D9E0E8; border-radius: 3px; display: table-cell; height: 87px; width: 600px; padding: 5px 10px; vertical-align: middle; border-radius: 3px;}
.technology-box h4 {font-size: 16px; font-weight: 400; margin: 5px 0;}
.technology-box h4 span {font-weight: 600;}
.related-section {padding-top: 55px; margin-top: 30px; border-top: 1px solid #e2e2e2;}
.detail-img {background-color: #fae6de;}
/* -------Cloud service-------- */
.cloud-welcome-section {padding: 50px 0 35px;}
.cloud-welcome-section  p {
  line-height: 27px;
  font-size: 18px;
  margin-bottom: 20px;
}

.cloud-section {background-color: #f0f4ef; padding: 50px 0 25px;}
.cloud-section .section-title {margin-bottom: 10px;}
.cloud-section .section-note {margin-bottom: 40px; text-align: center;}

.cloud-box {background: #FFFFFF; padding:45px 45px; width: 100%; position: relative; z-index: 5;}  
.cloud-box figure {margin-bottom: 15px; min-height: 72px;}
.cloud-box h3 {font-size: 20px; line-height: 27px; font-weight: 700; margin: 0 0 10px;}
.cloud-box p {font-size: 16px; line-height: 26px;}
.cloud-box p:last-child{margin: 0;}

.consulting-box {padding:30px 30px; width: 100%; position: relative; z-index: 5;background-color: #FFFFFF;border: 1px solid #E7E7E7; border-radius: 3px;}  
.consulting-box figure {margin-bottom: 15px; min-height: 72px;}
.consulting-box h3 {font-size: 20px; line-height: 27px; font-weight: 700; margin: 0 0 10px;}
.consulting-box p {font-size: 16px; line-height: 26px;}
.consulting-box p:last-child{margin: 0;}
.consulting-section {padding: 50px 0 25px;}

.software-section {padding: 0px 0 25px;}
.software-section .section-title {margin-bottom: 10px;}
.software-section .section-note {margin-bottom: 40px; text-align: center;}

.software-box {border: 1px solid #E9E9E9; border-radius: 3px; background-color: #fff; border-radius: 3px;}
.software-box .software-img {display: block;}
.software-content {padding: 40px 40px;}
.software-content h3 {font-size: 20px; line-height: 27px; font-weight: 700; margin: 0 0 15px;}
.software-content p {font-size: 16px; line-height: 27px;}
.software-content p:last-child{margin: 0;}

.business-section {padding: 0px 0 25px;}
.business-section .section-title {margin-bottom: 10px;}
.business-section .section-note {margin-bottom: 40px; text-align: center;}

.business-box {padding:30px 30px; width: 100%; position: relative; z-index: 5;background-color: #FFFFFF;border: 1px solid #E9E9E9;border-radius: 3px;}  
.business-box figure {margin-bottom: 15px; min-height: 72px;}
.business-box h3 {font-size: 20px; line-height: 27px; font-weight: 700; margin: 0 0 10px;}
.business-box p {font-size: 16px; line-height: 26px;}
.business-box p:last-child{margin: 0;}
.pm-section {background-color:  #24527a; padding: 60px 0; color: #fff;}
.pm-section .section-title {color: #fff; margin-bottom: 10px;}
.pm-section p {font-size: 18px; line-height: 27px; font-weight: 600;}
.ow-section {padding: 50px 0 25px;}
.steps li {min-height: 40px; margin-bottom: 10px; position: relative; padding-left: 55px; padding-top: 8px; font-size: 18px;}
.steps li:last-child {margin-bottom: 0;}
.steps .step-circle {position: absolute; left: 0; top: 0; color: #fff; background-color: #43d92d; width: 40px; height: 40px; border-radius: 50%; text-align: center; 
font-size: 15px; font-weight: 700; line-height: 40px;}
.waterfall-box {padding: 40px; background-color: #f2faf1; border-radius: 3px;}
.waterfall-box .section-title {margin-bottom: 15px;}
.waterfall-box h4 {margin:0 0 20px; font-size: 18px; font-weight: 600;}
.waterfall-box figure {margin-bottom: 30px;}
.agile-box {background-color: #f6fafe;}
.agile-box .steps .step-circle {background-color: #1b6be2;}
.cloud-welcome-section h4 {font-size: 17px; font-weight: 700; margin: 0 0 15px;}
.expert-section {padding:50px 0 30px;}
.expert-section .section-title {margin-bottom: 10px;}
.expert-section .section-note {margin-bottom: 40px; text-align: center;}

.expert-box {background-color: #FFFFFF; border: 1px solid #E7E7E7;border-radius: 3px; border-radius: 3px;}
.expert-top {display: table-cell; width: 800px; text-align: center; vertical-align: middle; height:108px; border-bottom: 1px solid #E7E7E7; padding: 5px 10px;}
.expert-content {padding: 35px;}
.expert-content p {font-size: 16px; line-height: 27px;}
.expert-content p:last-child {margin-bottom: 0;}


.develop-cycle-section {padding:50px 0 0px; background-color: #f0f5fb;}
.develop-cycle-section .section-title {margin-bottom: 10px;}
.develop-cycle-section .section-note {margin-bottom: 40px; text-align: center;}
.process-block h3 {font-size: 20px; font-weight: 700; margin: 0 0 10px;}
.process-block p {font-size:16px; line-height: 27px;}
.process-block li {margin-bottom:55px; margin-top: -10px;}
.process-block p:last-child {margin: 0;} 
.process-left {position: relative; padding-right: 80px; text-align: right; min-height: 80px;}
.process-icon {position: absolute; right: 0; top: 0;}
.process-right {position: relative; padding-left: 80px; text-align:left; min-height: 80px;}
.process-right .process-icon {right:auto;left: 0;}
.portfolio-detail-main .banner-space {min-height: 567px;}
.cat-space.category-list li { margin-bottom: 25px;}
.category-list {margin-top: 10px;}
.common-title-block {margin-bottom: 40px;}
.common-title-block .section-title {margin-bottom: 10px;}
.common-title-block .section-note {margin-bottom:0;}
.common-section {padding: 65px 0 45px;}
.gray-bg {background-color: #F0F4EF;}
.gray-bg-second {background-color: #F0F5FB;}
.inner-welcome {padding-bottom: 50px; margin-bottom: 65px; border-bottom: 2px solid #ebebeb;}
.inner-welcome p {font-size: 18px; line-height: 27px;}
.inner-welcome p:last-child {margin-bottom: 0;}
.exp-block {position: relative;
  padding-left: 85px;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
  height: 77px;
  display: table-cell;
  width: 800px;
  vertical-align: middle;}
.exp-icon {position: absolute; left: 0; top: 0; width: 53px; height: 53px; text-align: center; line-height: 51px; display: inline-block; border-radius: 50%;border: 1px solid #D1D8E1; background-color: #fff;}
.seprator {
  padding-bottom: 30px;  
  border-bottom: 2px solid 
  #ebebeb;
}

.service-offer p {font-size: 18px; line-height: 27px; margin-bottom: 25px;}

/* -------Technology pages start--------- */
.icon-cell {position: relative; padding: 0 0 20px 115px; min-height: 100px; border-bottom: 1px solid #dce2da; margin-bottom: 30px;}
.icon-cell:last-child {border-bottom: none; padding-bottom: 0; margin-bottom: 0;}
.icon-cell .left-icons {position: absolute; left: 0; top: 0; line-height: 1;}
.icon-cell h3 {font-size: 20px; font-weight: 700; margin: 0 0 15px;}
.icon-cell p {font-size: 16px; line-height: 27px;}
.icon-cell p:last-child {margin-bottom: 0;}

.gray-box {padding:40px 30px; width: 100%; position: relative; z-index: 5;background-color: #FCFFFC;border: 1px solid #24527a;border-radius: 3px;}  
.gray-box figure {margin-bottom: 15px; min-height: 62px;}
.gray-box h3 {font-size: 20px; line-height: 27px; font-weight: 700; margin: 0 0 10px;}
.gray-box p {font-size: 16px; line-height: 26px;}
.gray-box p:last-child{margin: 0;}
.box-icons {font-size: 58px; line-height: 1;}
.box-icons-xl {font-size: 75px; line-height: 1;}
.box-icons-small {font-size: 45px;}
.circle-icons {font-size: 36px;}
.box-icons-65 {font-size: 65px; line-height: 1;}
.box-icons-md {font-size: 45px; line-height: 1;}












@media only screen and (max-width:1500px) and (min-width: 1368px)  {
  
  .banner-slide-img {width: 50%; right: 0;}
  .banner-left {padding-right: 15px;}

}


@media(max-width:1367px) {
    
   
    
    .banner-slide-img {width: 50%; right: 0;}
    .logos-row li img {
      max-height: 84px;
  }     
}
@media(max-width:1200px) {
  .home-banner .banner-title {font-size: 38px; margin-bottom: 10px;}
    .home-banner h3 {font-size: 16px;}
.process-block li { margin-bottom: 30px;}
.process-block p {font-size: 14px; line-height: 25px;}
.branch-map {max-width: 635px;}
.logos-row {white-space: nowrap; overflow: auto;}
.mobile-slide {right: 0;}
.technology-cell {width: 25%; margin-bottom: 10px;}
.home-banner .carousel-indicators { max-width: 960px;}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.navbar-nav .header-btn {min-width: 140px;}

}

@media(max-width:960px) {
    .home-banner .container {min-height: 50vh;}
    .home-banner .carousel-indicators { max-width: 720px;}
    .navbar-toggler {padding-top: 10px; border: 1px solid #fff;}
    .footer-menu {margin-top: 15px;}
    .sticky-header .navbar-toggler .icon-bar {background-color: #24527a;}
    .sticky-header .navbar-toggler {border: 1px solid #24527a;}
    .blog-list {padding-right: 0;}
    .technology-cell {width:33%;}
    .process-block p {font-size: 12px; line-height: 15px;}
    .process-block h3 {font-size: 14px;}
    .process-block li {margin-bottom: 25px;}
    .process-block h3 br {display: none;}
    .process-icon img {max-width: 60px;}
    .process-right {padding-left: 70px;}
    .process-left {padding-right: 70px;}

}
@media(max-width:767px) {
    .banner-slide-img {display: none;}
    .banner-left {padding: 0 15px; width: 100%;}
    .top-info li i {margin-right: 2px; }
    .top-info li {margin-right: 4px; padding-right: 4px; font-size: 13px;}
    .home-banner .banner-title {font-size: 25px; line-height: 30px;}
    .home-banner h3 {font-size: 14px; line-height: 22px; margin-bottom: 10px;}
    .home-banner .carousel-fade .carousel-item {padding-top: 100px;}
    .navbar {padding-top: 10px; padding-bottom: 10px;}
    .first-header .top-nav {padding: 5px 0;}
    .navbar-brand img {max-width: 150px;}
    .home-banner .carousel-indicators {-ms-flex-pack: center;justify-content: center; bottom: 0;}
    .sticky-header .navbar {padding-top: 5px; padding-bottom: 5px;}
    .welcome-section {padding: 30px 0 0;}
    .welcome-block {padding: 0 0px 15px;}
    .section-title {font-size: 20px; margin-bottom: 10px;}
    .welcome-block p {font-size: 14px; line-height: 19px;}
    .service-section {padding: 30px 0 10px;}
    .section-note {font-size: 15px; margin-bottom: 15px; line-height: 20px;}
    .service-section .section-note {margin-bottom: 15px;}
    .service-box h3 {font-size: 16px; margin-bottom: 5px;}
    .service-box p {font-size: 14px; line-height: 19px;}
    .service-box {padding: 15px; border: 1px solid #e5e5e5;}
    .service-box figure {min-height: inherit;}
    .stateticks-block {padding: 15px 0 10px;}
    .stateticks-block .counter {font-size: 30px;}
    .stateticks-block .counter-name {font-size: 15px; margin: 5px 0 20px;}
    .industries-block {margin-bottom: 20px; }
    .industry-title {font-size: 14px; margin-top: 5px;}
    .choose-section, .our-client-section {padding: 30px 0 25px;}
    .choose-box {height: auto !important; margin: 0px; padding: 15px 10px;}
    .our-client-section .carousel {margin-top: 0;}
    .client-slide p {font-size: 14px; line-height: 20px; margin-bottom: 15px;}
    footer {padding: 25px 0 15px;}
    .country-info li {margin-bottom: 10px;}
    .country-info li.name-email {padding-top: 15px; margin-bottom: 15px;}
    .country-info li.name-email figure {top: 14px;}
    .footer-menu h3 {margin-bottom: 15px;}
    .footer-menu li {margin-bottom: 7px;}
    .footer-bottom {margin-top: 15px; padding-top: 15px;}
    .social-media {text-align: left; margin-bottom: 5px;}
    .country-info li.name-phone { margin-bottom: 10px;}
    .client-slide h3 {font-size: 16px;}
    .client-slide h5 {padding-left: 5px;}
    .pin-1 {
        top: 0%;
        left: 16%;
    }
    .pin-2 {
        top: 27%;
        left: 5%;
    }
    .pin-3 {
        top: 24%;
        left: 24%;
    }
    .pin-4 {
        bottom: -10%;
        left: 22%;
    }
    .pin-5 {
        top: 5%;
        left: 44%;
    }
    .pin-6 {
        top: 28%;
        left: 39%;
    }
    .pin-7 {
        top: 22%;
        left: 48%;
    }
    .pin-8 {

        top: 46%;
        left: 35%;
    
    }
    .pin-9 {

        top:62%;
        left: 40%;
    
    }
    .pin-10 {

        top: 62%;
        left: 30%;
    
    }
    .pin-11 {

        top: 70%;
        right: 9%;
    
    }
    .our-client-section .carousel-indicators {margin: 15px 0 30px; bottom: 0;}
    .nav-item {border-bottom: 1px solid #e5e5e5;}
    .nav-item:last-child {border-bottom: none;}
    .navbar-nav .header-btn {margin: 10px 10px;}
    .navbar-collapse {background-color: rgba(0, 111, 255, 0.9); border: 1px solid #0358c6;}
    .sticky-header .navbar-collapse {background-color: #fff; border: none;}
    .logos-row li img { max-height: 65px;}
    .medium-btn {padding: 7px 15px; font-size: 13px; min-width: 120px;}
    .page-title {font-size: 30px;}
    .banner-disc {font-size: 14px; margin-bottom: 15px; line-height: 21px;}
    .inner-banner .medium-btn, .inner-pages .medium-btn {min-width: inherit;}
    .banner-space, .portfolio-detail-main .banner-space {min-height: 300px;}
    .about-welcome-section {padding: 25px 0 0;}
    .about-welcome-section p {font-size: 14px; line-height: 21px; margin-bottom: 15px;}
    .methods-work-section {padding: 25px 0 20px;}
    .work-block .industry-circle {width: 50px; height: 50px; line-height: 50px;}
    .work-block .industry-circle img {max-width: 30px;}
    .work-block {padding-left: 65px; min-height: 50px;}
    .work-block h3 {font-size: 16px;}
    .work-block p {font-size: 14px;}
    .methods-work-section .mb-4 {margin-bottom: 15px !important;}
    .methods-work-section .mt-4 {margin-top: 5px !important;}
    .achievements-section {padding: 25px 0;}
    .achievements-block .counter {font-size: 30px;}
    .achievements-block .counter-name {
      font-size: 15px;
      margin: 5px 0 10px;
      border-bottom: 1px solid #e5e5e5; padding-bottom: 15px;
  }
  .blog-content {padding-top: 25px; padding-bottom: 10px;}    
  .blog-cell h3 {font-size: 17px;}
  .blog-cell p {font-size: 14px; margin-top: 10px; line-height: 21px;}
  .blog-cell { padding-bottom: 15px; margin-bottom: 20px;}
  .blog-left {margin-bottom: 25px;}
  .category-box, .post-box {padding: 20px 15px;}
  .right-part h2 {font-size: 20px; margin-bottom: 10px;}
  .category-list li, .cat-space.category-list li {margin-bottom: 10px;}
  .blog-detail p, .advantages-cell p, .contact-welcome p, .contact-box p {font-size: 14px; line-height: 22px; margin-bottom: 15px;}
  .sub-title {font-size: 18px;}
  .advantages-cell h4 {font-size: 16px;}
  .advantages-cell {margin-bottom: 15px;}
  .contact-content {padding: 25px 0 10px;}
  .contact-box {padding: 20px 15px;}
  .contact-box h3 {font-size: 17px; margin-bottom: 10px;}
  .common-form {padding: 20px 15px;}
  .common-form .section-note {margin-bottom: 15px;}
  .form-group {margin-bottom: 15px;}
  .request-form {margin: 25px 0;}
  .portfolio-content {padding: 25px 0 10px;}
  .nav-tabs .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {padding: 0 10px 7px; font-size: 14px;}
  .nav-tabs {margin-bottom: 20px;}
  .portfolio-content .tab-content {padding-right: 0; padding-bottom: 10px;}
  .work-content {padding: 10px 0 0;}
  .work-box {border-bottom: 1px solid #e5e5e5; margin-bottom: 20px; padding-bottom: 15px;}
  .work-content h3 {font-size: 17px;}
  .work-content p, .portfolio-welcome-section p {font-size: 14px; line-height: 21px; margin: 10px 0 0;}
  .related-section {padding-top: 25px; margin-top: 15px;}
  .category-list li a, .category-list li {font-size: 14px;}
  .mt-5, .my-5 {
    margin-top: 2rem !important;
}
.technology-cell {width: 50%; margin-bottom: 10px;}
.technology-row {margin-bottom: 20px;}
.technology-box h4 {font-size: 14px;}
.technology-box {padding: 5px 6px;}
.cloud-welcome-section, .cloud-section, .consulting-section  {padding: 25px 0 15px;}
.cloud-welcome-section p, .cloud-box p, .consulting-box p, .software-content p, .business-box p, .pm-section p, .expert-content p, .service-offer p, .icon-cell p, .gray-box p {font-size: 14px; line-height: 21px;}
.cloud-box, .consulting-box, .software-content, .business-box {padding: 20px 15px;}
.cloud-box h3, .consulting-box h3, .software-content h3, .business-box h3 {font-size: 16px; margin-bottom: 5px;}
.cloud-box figure, .consulting-box figure {min-height: inherit; margin-bottom: 5px;}
.business-section .section-note {margin-bottom: 15px;}
.business-section {padding: 0;}
.pm-section {padding: 25px 0;}
.pm-section .section-title {margin-top: 20px;}
.ow-section {padding: 25px 0 15px;}
.waterfall-box {padding: 15px;}
.cloud-welcome-section h4 {font-size: 15px; margin-bottom: 5px;}
.steps li {font-size: 15px; min-height: 30px; padding:3px 0 0 45px;}
.steps .step-circle {width: 30px; height: 30px; line-height: 30px; font-size: 14px;}
.mb-5 {margin-bottom: 1.8rem !important;}
.mt-4, .my-4 {margin-top: 0.8rem !important;}
.choose-box p {font-size: 14px; line-height: 19px;}
.expert-section {padding: 25px 0 10px;}
.expert-section .section-note, .develop-cycle-section .section-note {margin-bottom: 15px;}
.expert-content {padding: 15px;}
.expert-top {height: auto; padding: 7px 15px;}
.develop-cycle-section {padding: 25px 0 ;}
.process-left {padding-right: 0; padding-left: 70px; text-align: left;}
.process-icon {right: auto; left: 0;}
.process-block li {min-height: 60px; margin-bottom: 15px; margin-top: 0;}
.process-block li.process-right {margin: 15px 0 0;}
.common-section {padding: 25px 0 15px;}
.common-title-block {margin-bottom: 15px;}
.inner-welcome p {font-size: 14px; line-height: 21px;}
.exp-block {font-size: 14px; padding-left: 65px;  margin-bottom: 15px;  height: 70px; padding-bottom: 15px;}
.service-offer p {margin-bottom: 15px;}
.icon-cell {padding-left: 60px; margin-bottom: 20px;}
.icon-cell h3 {font-size: 16px;}
.icon-cell .left-icons img {max-width: 50px;}
.gray-box {padding: 15px;}
.page-item:first-child .page-link, .page-item:last-child .page-link {min-width: 50px;}
.page-link {width: 30px; height: 30px; line-height: 28px;}
header .dropdown-item {white-space: normal; font-size: 13px;}
.gray-box figure {min-height: inherit; margin-bottom: 10px;}
.icon-cell .box-icons-65 {font-size: 40px;}

.box-icons {font-size: 45px; line-height: 1;}
.box-icons-xl {font-size: 50px; line-height: 1;}
.box-icons-small {font-size: 33px;}
.circle-icons {font-size: 28px;}
.box-icons-65 {font-size: 50px; line-height: 1;}
.box-icons-md {font-size: 26px; line-height: 1;}
.top-info li i {font-size: 13px;}
.top-info li i {
  margin-right: 5px;
}
}

/* movetodata svg */
