.bosler_collapse {
  &__head {
    display: flex;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;

    &--disabled {
      opacity: 0.75;
    }
  }
  &__icon {
    display: flex;
    transform: rotate(0deg);

    transition: transform 0.2s linear;

    &--open {
      transform: rotate(90deg);
    }
  }

  &__label {
    width: 100%;

    // antd styles
    .ant-form-item {
      margin-bottom: 0px !important;
    }
  }

  &__body_container {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.2s ease-out;
  }

  &__body_container--hidden {
    grid-template-rows: 0fr;
  }

  &__body {
    overflow: hidden;
  }

  &__container {
    .sideDivider {
      margin-left: 10px;
    }
  }
}
