// ------------Imports------------------

// @import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@800&display=swap");

// ------------Animation------------------
@import "_MediaQueries";

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center1 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

// ------------SCSS------------------

.login-container {
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background-color: $movetodata-500;
  position: relative;
  display: flex;
  flex-direction: row;

  @include mobileSM {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  @include mobileML {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .login-icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-outer {
      transform-origin: center;
      animation: rotate-center 70s linear infinite both;

      &-inner {
        transform-origin: center;
        animation: rotate-center1 40s linear infinite both;
      }
    }

    &-movetodata {
      margin-top: 10vh;
      font-size: 3.5rem;
      color: #5dacbd;
      text-align: center;
      letter-spacing: 0.5rem;

      @include mobileSM {
        margin-top: 0vh;
        margin-bottom: 5vh;
      }

      @include mobileML {
        margin-top: 0vh;
        margin-bottom: 5vh;
      }
    }

    @include mobileSM {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }

    @include TabletT {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }

  .form-container {
    background-color: $movetodata-400;
    padding: 2rem;
    height: fit-content;
    color: #5dacbd;
    width: 30vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0.5rem;
    // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);

    &-select {
      display: block;
      // color: #5dacbd;
      background: $movetodata-400;
      height: 30px;
      margin: 10px 0;
      color: $text;

      width: fit-content;
      text-align: center;
      margin: 2vh auto;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      display: block;
      color: #5dacbd;
      border: 1px solid $movetodata-200;
      background: $movetodata-400;
    }

    .ant-form-item-label>label {
      color: #5dacbd;
    }

    ant-select-selection-item {
      display: block;
      color: #5dacbd;
      border: 1px solid $movetodata-200;
      background: $movetodata-400;
    }

    .ant-input {
      background-color: $movetodata-100;
      padding: 10px;
    }

    .ant-input-password {
      background-color: $movetodata-300;
      padding: 2px;
    }

    .button {
      margin-top: 3vh;
    }

    @include mobileSM {
      width: 85vw;
      margin-bottom: 50px;
    }

    @include mobileML {
      width: 65vw;
      margin-bottom: 50px;
    }

    @include TabletT {
      width: 50vw;
      margin-right: 20px;
    }

    @include LaptopL {
      width: 40vw;
      margin-right: 20px;
    }
  }
}

.login-container-logo {
  background: none !important;
  height: calc(100% - 3rem) !important;
  width: auto !important;
  flex-direction: column !important;
  align-items: center;
}