.emptyCheck {
  background-color: var(--movetodata-bkg-color-muted);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid var(--movetodata-border-color-default);
}

// Logging
.log_container {
  width: 100%;
  box-shadow: rgba(218, 221, 230, 0.6) 0px 0px 0px 1px,
    rgba(218, 221, 230, 0.15) 0px 4px 10px 0px,
    rgba(218, 221, 230, 0.25) 0px 8px 20px 0px;
}
.log_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.log_heading_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.log_heading_right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.log_content {
  display: flex;
  padding: 10px;
}

.log_check {
  flex: 1;
  height: 100%;
}
.log_status {
  flex: 1;
  height: 100%;
}
.log_recent {
  flex: 1;
  height: 100%;
  flex-wrap: wrap;
}

.log_expanded {
  height: 100%;
  background-color: var(--movetodata-bkg-color-muted);
  padding: 10px;
}

.log_badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: rgba(218, 221, 230, 0.6) 0px 0px 0px 1px,
      rgba(218, 221, 230, 0.15) 0px 4px 10px 0px,
      rgba(218, 221, 230, 0.25) 0px 8px 20px 0px;
  }
}
