.header {
  width: 100%;
}
.noData {
  margin-top: 50px;
}

.list {
  border: 1px solid var(--movetodata-border-color-default);

  border-radius: 0px 0px 5px 5px;
  height: fit-content;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.listExtra {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.listItem {
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.listItem:hover {
  transform: scale(1.003);
  background-color: var(--movetodata-hover-color);
}

.createdBy {
  text-decoration: underline dotted;
  cursor: pointer;
}

.extraInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.loadingState {
  border: 1px solid var(--movetodata-border-color-default);
  border-radius: 0px 0px 5px 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh;
  width: 100%;
}
