.webhookContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.webhookContainer_upper {
  height: 100%;
  overflow: auto;
  padding: 5px;
}

.webhookContainer_bottom {
  display: flex;
  padding: 10px;
  border-top: 1px solid var(--bosler-border-color-default);
  justify-content: space-between;
}

.requestsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;
}

.addRequest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}


.requestContainer {
  // background: var(--background-explorer);
  border-radius: 12px;
  padding: 6px;
  width: calc(100% - 16px);
  position: relative;
  border-radius: 3px;
  box-shadow: var(--bosler-border-color-default) 0px 0px 0px 1px;
  transition: box-shadow 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.requestContainer::before {
  content: "";
  position: absolute;
  top: 100px;
  left: -15px;
  width: 15px;
  height: 100%;
  // border-top: 1px solid var(--ACTION_COLOR_BORDER);
}

.requestContainerWrapper {
  position: relative;
}

.requestContainerWrapper::before {
  content: "";
  position: absolute;
  top: -22px;
  left: -15px;
  width: 15px;
  height: 24px + 100px;
  border-left: 1px solid var(--ACTION_COLOR_BORDER);
}
