.category-summary {
  // width: 80%;
  height: fit-content;
  width: fit-content;
  margin: 1rem 2rem;
  margin-bottom: 0;

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td {
    padding: 8px;
    width: 100%;
  }

  th {
    text-align: left;
    padding: 8px;
  }
}

.tags-table-layout.ant-layout {
  height: 100%;

  .ant-table-row:hover {
    cursor: pointer;
  }
}

.dropdown-content {
  border-radius: 5px;
  width: 15vw;
  background-color: white;
  box-shadow: 0px 0px 3px grey;
}

.settingpage-layout {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
  height: 100%;

  &-sidebar {
    flex: 0 0 auto;
    padding: 30px 30px 50px;
    overflow: auto;
    border-right: 1px solid var(--movetodata-border-color-default);
    &-header {
      font-weight: bold;
      margin: 1rem 0;
    }
    &-menuContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-menu {
      &-head {
        display: block;
        margin: 5px;
        cursor: default;
        padding-left: 2px;
        // color: var(--movetodata-font-color-default);
      }
      &-subHead {
        margin-right: 0px;
        padding: 4px 21px 4px 16px;
        color: var(--color);
        line-height: 20px;
        transition: background-color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1) 0s,
          color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
        // width: 8rem;
        &:hover {
          background-color: var(--movetodata-hover-color) !important;
        }
      }
      &-subHeadSelected {
        color: rgb(37, 70, 133);
        background-color: rgba(89, 135, 224, 0.12);
        margin-right: 0px;
        padding: 4px 21px 4px 16px;
        color: var(--color);
        line-height: 20px;
        transition: background-color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1) 0s,
          color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
      }
    }
  }
  &-outlet {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    min-height: 0px;
    padding: 50px 40px;
    overflow: auto;
  }
}

.lang-cards {
  height: 10vh;
  min-width: 100px;
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 2px;
  box-shadow: rgba(11, 14, 22, 0.06) 0px 0px 0px 1px,
    rgba(11, 14, 22, 0.04) 0px 1px 3px, rgba(11, 14, 22, 0.03) 0px 2px 3px 0px;
  transition: box-shadow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) 0s,
    background-color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.lang-cards:hover {
  box-shadow: rgb(54, 92, 163) 0px 0px 0px 1px,
    rgba(72, 113, 194, 0.1) 0px 0px 0px 3px,
    rgba(11, 14, 22, 0.05) 0px 8px 16px 0px,
    rgba(11, 14, 22, 0.1) 0px 1px 4px 0px;
}

.theme-cards {
  height: 9.6rem;
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 2px;
  box-shadow: rgba(11, 14, 22, 0.06) 0px 0px 0px 1px,
    rgba(11, 14, 22, 0.04) 0px 1px 3px, rgba(11, 14, 22, 0.03) 0px 2px 3px 0px;
  transition: box-shadow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) 0s,
    background-color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.theme-cards:hover {
  box-shadow: rgb(54, 92, 163) 0px 0px 0px 1px,
    rgba(72, 113, 194, 0.1) 0px 0px 0px 3px,
    rgba(11, 14, 22, 0.05) 0px 8px 16px 0px,
    rgba(11, 14, 22, 0.1) 0px 1px 4px 0px;
}

.create-repo-cards {
  height: 9.6rem;
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 2px;
  box-shadow: rgba(11, 14, 22, 0.06) 0px 0px 0px 1px,
    rgba(11, 14, 22, 0.04) 0px 1px 3px, rgba(11, 14, 22, 0.03) 0px 2px 3px 0px;
  transition: box-shadow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) 0s,
    background-color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.create-repo-cards:hover {
  box-shadow: rgb(54, 92, 163) 0px 0px 0px 1px,
    rgba(72, 113, 194, 0.1) 0px 0px 0px 3px,
    rgba(11, 14, 22, 0.05) 0px 8px 16px 0px,
    rgba(11, 14, 22, 0.1) 0px 1px 4px 0px;
}

.selected-card {
  // flex: 1 1 0px;
  // padding: 0px;
  overflow: hidden;
  box-shadow: rgb(54, 92, 163) 0px 0px 0px 1px,
    rgba(72, 113, 194, 0.1) 0px 0px 0px 3px,
    rgba(11, 14, 22, 0.05) 0px 8px 16px 0px,
    rgba(11, 14, 22, 0.1) 0px 1px 4px 0px;
}

.unselected-card {
  // flex: 1 1 0px;
  // padding: 0px;
  overflow: hidden;
  border: 1px solid var(--movetodata-border-color-default);
  box-shadow: var(--movetodata-border-color-default),
    rgba(72, 113, 194, 0.1) 0px 0px 0px 3px,
    rgba(11, 14, 22, 0.05) 0px 8px 16px 0px,
    rgba(11, 14, 22, 0.1) 0px 1px 4px 0px;
}

.danger-card {
  // flex: 1 1 0px;
  // padding: 0px;
  overflow: hidden;
  border: 1px solid var(--movetodata-intent-danger);
  box-shadow: var(--movetodata-intent-danger),
    rgba(72, 113, 194, 0.1) 0px 0px 0px 3px,
    rgba(11, 14, 22, 0.05) 0px 8px 16px 0px,
    rgba(11, 14, 22, 0.1) 0px 1px 4px 0px;
}

.light-mode {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  background: rgb(248, 250, 251);

  &:hover {
    box-shadow: var(--movetodata-hover-color) 0px 0px 0px 1px,
      var(--movetodata-hover-color) 0px 3px 6px,
      var(--movetodata-hover-color) 0px 5px 10px 0px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 0px 5px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(218, 221, 230) 0px 0px 0px 1px,
      rgba(11, 14, 22, 0.01) 0px 3px 6px, rgba(11, 14, 22, 0.04) 0px 1px 4px;

    &-icons {
      display: flex;
      height: auto;
      gap: 2px;
      justify-content: space-between;
      align-items: center;

      &-green-box {
        height: 10px;
        width: 10px;
        padding: 0px 5px;
        border-radius: 1px;
        box-shadow: rgba(25, 27, 52, 0.15) 0px 0px 0px 1px inset,
          rgba(1, 1, 27, 0.02) 0px 2px 4px 0px,
          rgba(11, 14, 22, 0.02) 0px 1px 2px 0px;
        background-color: rgb(41, 160, 124);
      }

      &-blue-box {
        background-color: rgb(54, 92, 163);
        height: 10px;
        width: 10px;
        padding: 0px 5px;
        border-radius: 1px;
        box-shadow: rgba(25, 27, 52, 0.15) 0px 0px 0px 1px inset,
          rgba(1, 1, 27, 0.02) 0px 2px 4px 0px,
          rgba(11, 14, 22, 0.02) 0px 1px 2px 0px;
      }
    }
  }

  &-body {
    display: flex;
    flex: 1 1 auto;
    height: 100%;

    &-side-bar {
      display: flex;
      flex: 0 0 auto;
      width: 20%;
      border-right: 1px solid rgb(218, 221, 230);
      flex-direction: column;
      gap: 5px;
      -webkit-box-align: center;
      align-items: center;
      width: 15px;
      padding: 7px 0px;

      &-circle {
        flex: 0 0 auto;
        width: 5px;
        height: 5px;
        border: 1px solid rgb(218, 221, 230);
        border-radius: 50%;
      }
    }

    &-content {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      width: 30%;
      border-right: 1px solid rgb(218, 221, 230);
      gap: 10px;
      padding: 10px;

      &-line {
        border-bottom: 1px solid rgb(218, 221, 230);
      }
    }
  }
}

.dark-mode {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  background: rgb(23, 23, 31);

  &:hover {
    box-shadow: rgba(63, 66, 87, 0.35) 0px 0px 0px 1px,
      rgba(63, 66, 87, 0.35) 0px 3px 6px,
      rgba(63, 66, 87, 0.35) 0px 5px 10px 0px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 0px 5px;
    background: rgb(30, 30, 40);
    box-shadow: rgb(51, 51, 69) 0px 0px 0px 1px,
      rgba(11, 14, 22, 0.05) 0px 8px 16px, rgba(11, 14, 22, 0.1) 0px 1px 4px;

    &-icons {
      display: flex;
      height: auto;
      gap: 2px;
      justify-content: space-between;
      align-items: center;

      &-green-box {
        height: 10px;
        width: 10px;
        padding: 0px 5px;
        border-radius: 1px;
        box-shadow: rgba(25, 27, 52, 0.15) 0px 0px 0px 1px inset,
          rgba(1, 1, 27, 0.02) 0px 2px 4px 0px,
          rgba(11, 14, 22, 0.02) 0px 1px 2px 0px;
        background-color: rgb(41, 160, 124);
      }

      &-blue-box {
        background-color: rgb(54, 92, 163);
        height: 10px;
        width: 10px;
        padding: 0px 5px;
        border-radius: 1px;
        box-shadow: rgba(25, 27, 52, 0.15) 0px 0px 0px 1px inset,
          rgba(1, 1, 27, 0.02) 0px 2px 4px 0px,
          rgba(11, 14, 22, 0.02) 0px 1px 2px 0px;
      }
    }
  }

  &-body {
    display: flex;
    flex: 1 1 auto;
    height: 100%;

    &-side-bar {
      display: flex;
      flex: 0 0 auto;
      width: 20%;
      border-right: 1px solid rgb(51, 51, 69);
      flex-direction: column;
      gap: 5px;
      -webkit-box-align: center;
      align-items: center;
      width: 15px;
      padding: 7px 0px;

      &-circle {
        flex: 0 0 auto;
        width: 5px;
        height: 5px;
        border: 1px solid rgb(51, 51, 69);
        border-radius: 50%;
      }
    }

    &-content {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      width: 30%;
      border-right: 1px solid rgb(51, 51, 69);
      gap: 10px;
      padding: 10px;

      &-line {
        border-bottom: 1px solid rgb(51, 51, 69);
      }
    }
  }
}
