.cursor-ptr {
  cursor: pointer;
}

.add-project-btn {
  border: none;
  // padding: 30px 10px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  margin: 3vh 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);

  // &:disabled{
  // 	background: #84a4a8;
  // }
}

.login-btn {
  background: $bosler-600;
  color: #cad8e5;
  border: none;
  font-size: 1rem;
  font-weight: 200;
  // padding: 10px 20px;
  // margin: 0 0 10px 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  // margin: 3vh 0;
  // margin-left: calc(110% - 97px);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);

  &:hover,
  &:active,
  &:focus {
    background: $bosler-500;
    box-shadow: 0px 8px 16px 0px $bosler-400;
    color: white;
  }
}

.interactive {
  margin: 5px 0;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  // border-radius: 6px;
  // box-shadow: 0 2px 4px 0 rgba(33, 33, 33, 0.2);
  // box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 3px 2px rgb(0 0 0 / 4%),
  //   0 7px 5px rgb(0 0 0 / 2%), 0 13px 10px rgb(0 0 0 / 2%),
  //   0 22px 17px rgb(0 0 0 / 2%);

  &:hover,
  &:active,
  &:focus {
    // box-shadow: 0px 8px 16px 0px rgba(208, 216, 243, 0.6);
  }

  @media (max-width: 1210px) {
    box-shadow: none;
  }
}

.table-container {
  margin-bottom: 5vh;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  @media (max-width: 1210px) {
    width: 80vw;
  }
}

.scaled-interactive {
  margin: 5px 0;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  // border-radius: 6px;
  box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 3px 2px rgb(0 0 0 / 4%),
    0 7px 5px rgb(0 0 0 / 2%), 0 13px 10px rgb(0 0 0 / 2%),
    0 22px 17px rgb(0 0 0 / 2%) !important;

  &:hover,
  &:active,
  &:focus {
    transform: scale3d(1.025, 1.025, 1);
  }
}

.repository {
  width: 100%;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  line-height: 1.5;
  padding: 15px 15px 30px;
  border-radius: 3px;
  border: 1px solid #8d8d8a;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  transition: box-shadow 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-smoothing: subpixel-antialiased;
}

.ant-layout {
  background: var(--background-color);
}

._1EEDX {
  width: fit-content !important;
  border: 0;
  // background: $bosler-300;
  // padding: 5px;
  // display: block;
  // margin: 3px 0 3px 0;
  scrollbar-width: thin;
  border-radius: 6px;
  // color: #58677a;
  // padding: 10px;
  // border: 0;
}

// .editTextClass {
//   color: var(--background-color-text) !important;
//   text-align: left;
// }

// .editTextInputClass {
//   background: var(--background-color);
//   color: var(--background-color-text) !important;
// }

.clipText {
  white-space: nowrap;
  width: 25vw;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: scroll;
}

.clipText:hover {
  overflow: visible;
}

.clipText10 {
  white-space: nowrap;
  width: 13vw;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: scroll;
}

// .clipText10:hover {
//   overflow: visible;
// }

.manage-group {
  width: 95vw;
  margin-top: 1rem;
  height: fit-content;
  align-items: center;
  padding: 10px;
}

.manage-group-table {
  width: 100%;

  height: fit-content;
  //   background: white;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f,
    0 5px 12px 4px #00000017;
}

.edittext-groups {
  font-weight: 600;
  font-size: 24px;

  &-desc {
    font-size: 18px;
  }
}

.not-allowed {
  &:hover {
    cursor: not-allowed;
  }
}

.cursor_ptr {
  cursor: pointer;
}

.error-center {
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  width: 90vw;
  background-color: var(--background-color);
  color: var(--color);
  // position: fixed;
  display: flex;
  flex-direction: row;

  @include mobileSM {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  @include mobileML {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.fXAXjb {
  z-index: auto;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography,
h6.ant-typography,
a.ant-typography,
.ant-typography a {
  color: var(--bosler-font-color-muted);
}
