.sidePanel {
  border-left: 1px solid var(--bosler-border-color-default);
  height: 100%;
}

.sidePanel-header {
  background-color: var(--bosler-bkg-color-muted);
  border-bottom: 1px solid var(--bosler-border-color-default);
  position: sticky;
  top: 0;
  z-index: 999;
  height: 41px;
  padding: 0.25rem 1rem;
  font-weight: bold;
}
.sidePanel-body {
  height: calc(100% - 41px);
  overflow-y: auto;
}

.sidePanel-details {
  padding: 0 1rem;
}

.sidePanel-details-item {
  margin: 1rem 0;
}
