html * {
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 body {
	 background-color: #a8bbd6;
	 background-image: url("/assets/images/logo.png");
	 background-position: center;
	 color: #58677a;
	 margin: 0;
	 font-family: Poppins, Helvetica, Arial, sans-serif;
	 font-weight: 300;
	 line-height: 1.5em;
}
 body, h1, h2, h3, h4, h5, h6 {
	 font-family: "Poppins", "Helvetica", "Arial", sans-serif;
	 font-weight: 300;
	 color: #58677a;
	 line-height: 1.5em;
}
 blockquote footer:before, blockquote small:before {
	 content: "\2014 \00A0";
}
 h1 {
	 font-size: 3em;
	 line-height: 1.15em;
}
 h2 {
	 font-size: 2.6em;
}
 h3 {
	 font-size: 1.825em;
	 line-height: 1.4em;
	 margin: 20px 0 10px;
}
 h4 {
	 font-size: 1.3em;
	 line-height: 1.4em;
	 margin-top: 10px;
	 margin-bottom: 10px;
}
 h5 {
	 font-size: 1.25em;
	 line-height: 1.4em;
	 margin-bottom: 15px;
}
 h6 {
	 font-size: 1.1em;
	 font-weight: 500;
}
 h4, h5 {
	 margin-top: 0px;
	 margin-bottom: 0px;
	 color: #24527a;
}
 h6 {
	 margin-top: 0px;
	 margin-bottom: 0px;
	 color: #24527a;
}

