{"openapi":"3.0.1","info":{"title":"Bosler.io API","contact":{"name":"Bosler.io API Support","url":"https://bosler.io/contact","email":"techsupport@bosler.io"},"version":"1.0.1"},"servers":[{"url":"https://buran.bosler.io","description":"Bosler Dev Server"},{"url":"http://localhost:8080","description":"Bosler Local Host"}],"tags":[{"name":"Passport","description":"Authz service endpoints"},{"name":"Connect","description":"Code Repository management service endpoints"},{"name":"DataHealth","description":"Data Health"},{"name":"Fractal","description":"Code Repository management service endpoints"},{"name":"Docket","description":"This is to tag category management."},{"name":"Build","description":"Build service endpoints"},{"name":"Kepler","description":"Kepler dashboards management service endpoints"},{"name":"Docket","description":"This is to tag management."},{"name":"Dataset","description":"This is a data management service."},{"name":"Kepler","description":"Kepler versions management service endpoints"},{"name":"Kitab","description":"This is a catalog management service."},{"name":"Scheduler","description":"Schedule management service endpoints"},{"name":"Dataset","description":"This is a Spark data management service."},{"name":"AccessManager","description":"This is an Access Management Service."},{"name":"Subscribe","description":"Subscription Management"},{"name":"Errors","description":"Log for frontend errors"},{"name":"Cache","description":"This is a API is for cache config."},{"name":"Kitab","description":"This is a dataset transactions management service."},{"name":"Platform","description":"This is a API is for platform config."},{"name":"Synchro","description":"This is to synchronise spark dataframes to databases."},{"name":"File Explorer","description":"This is a file explorer service."},{"name":"Kepler","description":"Kepler charts management service endpoints"},{"name":"Passport","description":"Authentication service endpoints"},{"name":"Connect","description":"SharePoint data endpoints"},{"name":"Bezier","description":"Pipeline management service endpoints"},{"name":"News","description":"This is a News management controller."}],"paths":{"/api/synchro/sync":{"put":{"tags":["Synchro"],"summary":"Create or Update sync.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"syncProperties":{"$ref":"#/components/schemas/SyncPropertiesDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/scheduler/schedule":{"put":{"tags":["Scheduler"],"summary":"Add / Update schedule job.","operationId":"addOrUpdateSchedule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchedulerJobInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/oath2/registrations/{id}":{"get":{"tags":["Passport"],"operationId":"getRegistration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OAuth2Client"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Passport"],"operationId":"updateRegistration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Client"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OAuth2Client"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Passport"],"operationId":"deleteRegistration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/news/edit/{id}":{"put":{"tags":["News"],"summary":"update latest news","operationId":"getAllNews","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"latestNews":{"$ref":"#/components/schemas/NewsRequest"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/resource/{id}":{"get":{"tags":["File Explorer"],"summary":"It provides resource based on id.","operationId":"getResource","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["File Explorer"],"summary":"Modifies the resource.","operationId":"putResource","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/comments/editComment/{id}":{"put":{"tags":["Kitab"],"summary":"Edit the comment with reference of id","operationId":"editComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRequestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabs/move/{tabId}/{pos}":{"put":{"tags":["Kepler"],"operationId":"moveTab","parameters":[{"name":"tabId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pos","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/rename":{"put":{"tags":["Kepler"],"summary":"Rename saved version name","operationId":"renameVersionName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionRenameDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/charts/update/{Id}":{"put":{"tags":["Kepler"],"summary":"This can be used to save latest version of chart.","operationId":"updateChart","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/health/{datasetId}/{branch}":{"get":{"tags":["DataHealth"],"summary":"Get data health checks","operationId":"getHealthCheck","parameters":[{"name":"authUser","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthUser"}},{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["DataHealth"],"summary":"Put a data health check","operationId":"putHealthCheck","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"dataHealthDTO":{"$ref":"#/components/schemas/DataHealthDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/docket/tag/update/{Id}":{"put":{"tags":["Docket"],"summary":"Update existing tag by ID.","operationId":"updateById","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/docket/category/update/{Id}":{"put":{"tags":["Docket"],"summary":"Update existing tag category by Id.","operationId":"update","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsCategory"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/datasetMapping/update/{datasetId}/{branch}/{source}/{count}":{"put":{"tags":["Dataset"],"summary":"Update dataset history source and count.","operationId":"updateDatasetHistorySourceAndCount","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"source","in":"path","required":true,"schema":{"type":"string"}},{"name":"count","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/previewSpecs":{"put":{"tags":["Build"],"summary":"Put Preview Specs","operationId":"putPreviewSpecs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewSpecsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Build"],"summary":"Get Preview Specs","operationId":"getPreviewSpecs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewSpecsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/hardwareSpecs":{"put":{"tags":["Build"],"summary":"Update Hardware Specs","operationId":"updateHardwareSpecs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryHardwareSpecsModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Build"],"summary":"Get Hardware Specs","operationId":"getHardwareSpecs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HardwareSpecsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/synchro/perform/{datasetId}/{syncId}":{"post":{"tags":["Synchro"],"summary":"Perform sync.","operationId":"perform","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"syncId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUser"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/subscribe/update/{subscriptionId}":{"post":{"tags":["Subscribe"],"summary":"Update Subscription.","operationId":"update_1","parameters":[{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/subscribe/create":{"post":{"tags":["Subscribe"],"summary":"Create Subscription.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestSubscriptionModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sso/callback":{"post":{"tags":["Passport"],"operationId":"callbackSSO","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/scheduler/{jobId}/{action}":{"post":{"tags":["Scheduler"],"summary":"Take action on scheduled job via Id.","operationId":"action","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"action","in":"path","required":true,"schema":{"type":"string","enum":["DELETED","SCHEDULED","RUNNING","PAUSED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/scheduler/getAll":{"post":{"tags":["Scheduler"],"operationId":"getAllJobs","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleFilters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/updateSparkConfig":{"post":{"tags":["Platform"],"summary":"Update Spark Config for Platform.","operationId":"updateSparkConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SparkConfigModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/updateSMTPConfig":{"post":{"tags":["Platform"],"summary":"Update SMTP Config for Platform.","operationId":"updateSMTPConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SMTPConfigModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/updateGitConfig":{"post":{"tags":["Platform"],"summary":"Update Git Config for Platform.","operationId":"updateGitConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitConfigModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/updateCacheConfig":{"post":{"tags":["Cache"],"summary":"Update Cache Config for Platform.","operationId":"updateBackingFsConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CacheConfigModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/updateBackingFsConfig":{"post":{"tags":["Platform"],"summary":"Update backingFs Config for Platform.","operationId":"updateBackingFsConfig_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackingFsConfigModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/decryptLicenseKey":{"post":{"tags":["Platform"],"summary":"Generates a license Key","operationId":"decryptLicenseKey","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/config":{"get":{"tags":["Platform"],"summary":"Checks the Running Environment Config","operationId":"getPlatformConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Platform"],"summary":"Updates platform config","operationId":"updatePlatformConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformConfigUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/verify":{"post":{"tags":["Passport"],"operationId":"verifyOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MfaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/verify-internal":{"post":{"tags":["Passport"],"operationId":"verifyOTP_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MfaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/updateNotificationPreferences":{"post":{"tags":["Passport"],"summary":"To update notification Preferences","operationId":"updateNotificationPreferences","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNotificationPreferences"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/updateMetaData":{"post":{"tags":["Passport"],"summary":"It updates User Meta Data","operationId":"updateMetaData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMetadataRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/changePassword":{"post":{"tags":["Passport"],"summary":"To change password","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/byIds":{"post":{"tags":["Passport"],"summary":"It provides details about user by userID","operationId":"userByIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/bulkUserCreation":{"post":{"tags":["Passport"],"summary":"It creates user in bulk by reading a csv file","operationId":"bulkUserCreation","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/add":{"post":{"tags":["Passport"],"summary":"To add new users","operationId":"saveUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/token/CreateLongLived":{"post":{"tags":["Passport"],"summary":"Create Long Lived Token","operationId":"longLivedToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenLongLived"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/passport/roles/update":{"post":{"tags":["Passport"],"summary":"It updates Roles","operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/refresh-token":{"post":{"tags":["Passport"],"operationId":"refreshToken","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/recovery":{"post":{"tags":["Passport"],"operationId":"verifyRecoveryCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MfaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/update":{"post":{"tags":["Passport"],"summary":"It updates Permissions Mapping","operationId":"Update","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PermissionsMapping"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/deleteByIdentityIdAndResourceIdAndRoleId":{"post":{"tags":["Passport"],"summary":"It deletes Permissions Mapping by resourceId and identityId and roleId","operationId":"DeleteByIdentityIdAndResourceIdAndRoleId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsMapping"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/create":{"post":{"tags":["Passport"],"summary":"This can be used to create permission Mapping.","operationId":"newPermissionsMapping","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"permissionsMappingSpecification":{"$ref":"#/components/schemas/PermissionsMappingSpecification"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/oath2/registrations":{"post":{"tags":["Passport"],"operationId":"createRegistration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Client"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OAuth2Client"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/mfa/enable/{userAccount}":{"post":{"tags":["Passport"],"operationId":"enableMFA","parameters":[{"name":"userAccount","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/mfa/disable/{userAccount}":{"post":{"tags":["Passport"],"operationId":"disableMFA","parameters":[{"name":"userAccount","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/logout":{"post":{"tags":["Passport"],"operationId":"logoutUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/login":{"post":{"tags":["Passport"],"operationId":"authenticateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/groups/manageGroups":{"post":{"tags":["Passport"],"summary":"Manage members or administrators to group","operationId":"addOrRemoveUsersFromGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupManagementSpecification"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/groups/changeMetaData":{"post":{"tags":["Passport"],"summary":"This can be used to rename groups.","operationId":"renameGroup","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"changeMetaData":{"$ref":"#/components/schemas/ChangeMetaData"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/groups/add":{"post":{"tags":["Passport"],"summary":"To add new groups","operationId":"saveGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Groups"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Groups"}}}}},"security":[{"bearerAuth":[]}]}},"/api/news/latest":{"post":{"tags":["News"],"summary":"create a latest news","operationId":"getAllNews_1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"latestNews":{"$ref":"#/components/schemas/NewsRequest"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/searchProject":{"post":{"tags":["Kitab"],"summary":"It provides list of all active projects.","operationId":"searchProject","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/rawFileUpdate/{id}":{"post":{"tags":["Kitab"],"summary":"It provides list of all kitab.","operationId":"updateTxtFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/projects/paginated/all":{"post":{"tags":["Kitab"],"summary":"It provides list of all kitab.","operationId":"getPaginatedProjectsList","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"resourceFilters":{"$ref":"#/components/schemas/ResourceFilters"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/project/create":{"post":{"tags":["Kitab"],"summary":"This endpoint can be used to create / update projects","operationId":"newProject","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"newProjectRequest":{"$ref":"#/components/schemas/NewProjectRequest"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/notifications/{id}/read":{"post":{"tags":["Kitab"],"summary":"Read a particular Notification","operationId":"readNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/notifications/readAll":{"post":{"tags":["Kitab"],"summary":"Read a particular Notification","operationId":"readAllMyNotifications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/globalSearch":{"post":{"tags":["Kitab"],"summary":"Provides resources which match the query on Full text search","operationId":"globalSearch","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/globalSearchV2":{"post":{"tags":["Kitab"],"summary":"Provides resources which match the query on Full text search","operationId":"globalSearch2","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalResourceSearchFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/getParentIdByPath":{"post":{"tags":["Kitab"],"summary":"Provides id based on path based on given path","operationId":"getParent","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/getIdByPath":{"post":{"tags":["Kitab"],"summary":"Provides id based on path based on given path","operationId":"getIdByPath","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/uploadFile/{parentId}":{"post":{"tags":["Kitab"],"summary":"Upload files to a folder","operationId":"uploadFile","parameters":[{"name":"sheetName","in":"query","required":false,"schema":{"type":"string","default":"first"}},{"name":"parentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","required":false,"schema":{"type":"string","default":"uploaded"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/create":{"post":{"tags":["Kitab"],"summary":"This can be used to create folder.","operationId":"newFolder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFolderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/trash/{resourceId}":{"post":{"tags":["File Explorer"],"summary":"It provides root directory structure of a project.","operationId":"addToTrash","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["File Explorer"],"summary":"It provides root directory structure of a project.","operationId":"removeFromTrash","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/folder":{"post":{"tags":["File Explorer"],"summary":"Creates new Folder","operationId":"newFolder_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/favourites/{resourceId}":{"post":{"tags":["File Explorer"],"summary":"Add or remove favourite resources.","operationId":"addFavourite","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["File Explorer"],"summary":"Add or remove favourite resources.","operationId":"removeFavourite","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/dataset/create":{"post":{"tags":["Kitab"],"summary":"This can be used to create dataset.","operationId":"newDataset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDatasetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/dataset/byIds":{"post":{"tags":["Kitab"],"summary":"It provides dataset by Id","operationId":"getDatasetByIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/comments/newComment":{"post":{"tags":["Kitab"],"summary":"Add a comment or reply to a comment","operationId":"createComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRequestModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/byIds":{"post":{"tags":["Kitab"],"summary":"It provides Kitab details based on Ids list","operationId":"getByIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/branch/resolveBranch":{"post":{"tags":["Kitab"],"summary":"resolve branches","operationId":"resolveBranches","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabs/updateTabConfig/{dashboardId}/{id}":{"post":{"tags":["Kepler"],"summary":"Update Tab Config","operationId":"updateTabConfig","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabCustomizeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabs/updateTab/{id}/{newName}":{"post":{"tags":["Kepler"],"summary":"Update Tab name","operationId":"renameTab","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"newName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabs/manageElements":{"post":{"tags":["Kepler"],"summary":"Add or Remove elements from tab","operationId":"manageElements","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageElementRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabs/manageCharts":{"post":{"tags":["Kepler"],"summary":"Add or Remove charts from tab","operationId":"manageCharts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageTabRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabs/addTabToDashboard/{id}":{"post":{"tags":["Kepler"],"summary":"Add tab to dashbaord latest version only.","operationId":"addTabToDashboard","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabElements/update/{dashboardId}/{tabId}":{"post":{"tags":["Kepler"],"summary":"Update Element.","operationId":"updateElement","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"tabId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManageElementUpdateRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/tabElements/create":{"post":{"tags":["Kepler"],"summary":"This can be used to create tab elements.","operationId":"createElement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageElementUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/dashboards/{Id}/{newName}/rename":{"post":{"tags":["Kepler"],"summary":"This can be used to rename dashboard.","operationId":"renameDashboard","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"newName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/dashboards/new":{"post":{"tags":["Kepler"],"summary":"This can be used to create dashboards.","operationId":"newDashboards","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/dashboards/manage":{"post":{"tags":["Kepler"],"summary":"Add or Remove charts from dashboard","operationId":"addChartsToDashboard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageDashboardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/dashboards/getSuggestedCharts/{id}":{"post":{"tags":["Kepler"],"summary":"This method will return smartly suggest chart","operationId":"getSuggestedCharts","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartSuggestedFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/dashboards/createVersion/{id}/{name}":{"post":{"tags":["Kepler"],"summary":"This creates a new version.","operationId":"createVersion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"v","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/charts/new":{"post":{"tags":["Kepler"],"summary":"This can be used to create charts.","operationId":"newCharts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kepler/charts/createVersion/{id}/{name}":{"post":{"tags":["Kepler"],"summary":"Chart version","operationId":"createVersion_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"v","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/funnel/resolveTarget":{"post":{"tags":["Build"],"summary":"Pre Transform for target","operationId":"preTransform","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveTargetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/funnel/previewPostTransform":{"post":{"tags":["Build"],"summary":"Preview build result","operationId":"previewPostTransform","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildPreviewResultRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/funnel/preTransform":{"post":{"tags":["Build"],"summary":"Pre Transform for Pods","operationId":"preTransform_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreTransformRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/funnel/postTransform":{"post":{"tags":["Build"],"summary":"Post Transform for Pods","operationId":"postTransform","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTransformRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{templateType}/createRepository":{"post":{"tags":["Fractal"],"summary":"This can be used to create repository.","operationId":"newRepository","parameters":[{"name":"templateType","in":"path","required":true,"schema":{"type":"string","enum":["FILE","FOLDER","DASHBOARD","JDBC","RAWDATASET","BUILDDATASET","LIVEDATASET","LIVELINK","STORELINK","PIECHART","PARAMETERCHART","WORDCLOUDCHART","TREEMAPCHART","WATERFALLCHART","BARCHART","LINECHART","SCATTERCHART","LINEAREACHART","HORIZONTALBARCHART","BIGNUMBER","MAPCHART","GAUGECHART","RADARCHART","SUNBURSTCHART","VERTICALAXISCHART","HORIZONTALCHART","TABLE","COLUMN","PYTHON","NONE","SCHEMAFOLDER","MYSQL_SCHEMAFOLDER","MARIA_SCHEMAFOLDER","POSTGRES_SCHEMAFOLDER","POSTGRES_VARCHAR","POSTGRES_DECIMAL","POSTGRES_INT","POSTGRES_BOOLEAN","POSTGRES_CHAR","POSTGRES_DATE","POSTGRES_TIMESTAMP","POSTGRES_TEXT","POSTGRES_UUID","TXT","PARQUET","CSV","MD","PY","IPYNB","GITIGNORE","SQL","XLS","XLSX","DOC","DOCX","PPT","PPTX","PDF","JSON","XML","PNG","JPEG","GIF","MP3","MP4","AVI","ZIP","RAR","TAR","GZ","EXE","DLL","HTML","CSS","JS","JAVA","BAT","JPG","BMP","TIFF","ODT","ODS","ODP","WAV","FLV","MPG","SVG","INI","LOG","RTF","HTM","ICS","M4A","ODF","WMV","FLAC","MKV","PGP","TEX","WMA","EPS","ODG","OGG","ICO","SWF"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"newRepository":{"$ref":"#/components/schemas/ResourceModel"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/save":{"post":{"tags":["Fractal"],"summary":"Save by repositoryId and branch.","operationId":"save","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/rename":{"post":{"tags":["Fractal"],"summary":"Delete by repositoryId and branch.","operationId":"rename","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/move":{"post":{"tags":["Fractal"],"summary":"Move by repositoryId and branch.","operationId":"move","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/makeCopy":{"post":{"tags":["Fractal"],"summary":"Auto save by repositoryId and branch.","operationId":"makeCopy","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/gitBlame":{"post":{"tags":["Fractal"],"summary":"Get Git blame for repositoryId and branch.","operationId":"gitBlame","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlameResultDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/diff":{"post":{"tags":["Fractal"],"summary":"List of diff by repositoryId and branch.","operationId":"listDiff","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"oldCommit","in":"query","required":true,"schema":{"type":"string"}},{"name":"newCommit","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/delete":{"post":{"tags":["Fractal"],"summary":"Delete by repositoryId and branch.","operationId":"delete","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/checkout/{commitId}":{"post":{"tags":["Fractal"],"summary":"Move by repositoryId and branch.","operationId":"checkout","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"commitId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/{branch}/autoSave":{"post":{"tags":["Fractal"],"summary":"Auto save by repositoryId and branch.","operationId":"autoSave","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/fractal/{repositoryId}/push":{"post":{"tags":["Fractal"],"summary":"Push Active branch by repositoryId.","operationId":"pushCode","parameters":[{"name":"repositoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/errors":{"get":{"tags":["Errors"],"operationId":"getErrors","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Errors"],"operationId":"saveError","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/docket/tag/manage":{"post":{"tags":["Docket"],"summary":"Assign tag to dataset dataset by Id","operationId":"addTagToDataset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageTagsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/docket/tag/create":{"post":{"tags":["Docket"],"summary":"Create new tag.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/docket/category/create":{"post":{"tags":["Docket"],"summary":"Create new tag category.","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsCategory"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/{datasetId}/{branch}/{transactionId}/filtered":{"post":{"tags":["Dataset"],"summary":"This endpoint can be used to filter datasets","operationId":"filterDataset","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"filterModels":{"$ref":"#/components/schemas/FilterModel"},"authUser":{"$ref":"#/components/schemas/AuthUser"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/{buildId}/sparkResults":{"post":{"tags":["Dataset"],"summary":"This endpoint is for spark pods to send data","operationId":"postSparkResults","parameters":[{"name":"buildId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SparkResults"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/uniqueColumnValues":{"post":{"tags":["Dataset"],"summary":"Get unique values for a column","operationId":"uniqueColumnValues","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ColumnModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/sqlConfigData":{"post":{"tags":["Dataset"],"summary":"Get data using config query","operationId":"dataBySqlConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"query":{"$ref":"#/components/schemas/ChartDataRequest"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/schema/{datasetId}/{branch}/{transactionId}/test":{"post":{"tags":["Dataset"],"summary":"This endpoint can be used to apply schema to existing datasets","operationId":"test","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchemaApplyModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/schema/{datasetId}/{branch}/{transactionId}/rename":{"post":{"tags":["Dataset"],"summary":"This endpoint can be used to rename column names","operationId":"rename_1","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/schema/{datasetId}/{branch}/{transactionId}/apply":{"post":{"tags":["Dataset"],"summary":"This endpoint can be used to apply schema to existing datasets","operationId":"applySchema","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchemaApplyModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/previewDatasetBySql":{"post":{"tags":["Dataset"],"summary":"This can be used to preview a dataset based on sql.","operationId":"preview","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"previewDatasetBySqlDTO":{"$ref":"#/components/schemas/PreviewDatasetBySqlDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/postgresData":{"post":{"tags":["Dataset"],"summary":"Get data from postgres.","operationId":"postgresSyncDatasetIdBranchDelete","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/import/{datasetId}/{branch}":{"post":{"tags":["Dataset"],"summary":"Import branches by datasetId and branch.","operationId":"uploadCsvDirect","parameters":[{"name":"mode","in":"query","required":true,"schema":{"type":"string"}},{"name":"sheetName","in":"query","required":true,"schema":{"type":"string"}},{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/getChartDataByIds":{"post":{"tags":["Dataset"],"summary":"This can be used to get multiple chart data at once.","operationId":"getChartDataByIds","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"chartDataByIdsRequest":{"$ref":"#/components/schemas/ChartDataByIdsRequest"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/datasetMapping/{datasetId}/{transactionId}/abort":{"post":{"tags":["Dataset"],"summary":"Abort dataset transaction.","operationId":"abortDatasetTransaction","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/dataset/columnStats":{"post":{"tags":["Dataset"],"summary":"This endpoint can be used to column stats of datasets","operationId":"columnStats","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"columnStatsModel":{"$ref":"#/components/schemas/ColumnStatsModel"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/webhook/update":{"post":{"tags":["Connect"],"summary":"Put a webhook","operationId":"updateWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"webhook":{"$ref":"#/components/schemas/WebhookDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/webhook/execute/{id}":{"post":{"tags":["Connect"],"summary":"Execute a webhook","operationId":"executeWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"requests":{"type":"array","items":{"$ref":"#/components/schemas/RestAPIRequest"}}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/webhook/create":{"post":{"tags":["Connect"],"summary":"Create a webhook","operationId":"createWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"webhook":{"$ref":"#/components/schemas/WebhookDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/source/update":{"post":{"tags":["Connect"],"summary":"This can be used to update sources.","operationId":"update_3","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"source":{"$ref":"#/components/schemas/SourceRequestDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/source/testSharepointConnection":{"post":{"tags":["Connect"],"summary":"This can be used to update sources.","operationId":"testSharepointConnection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharePointSourceConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/source/testConnection":{"post":{"tags":["Connect"],"summary":"This can be used to update sources.","operationId":"testConnection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseSourceConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/source/preview/{id}":{"post":{"tags":["Connect"],"summary":"This endpoint can be used to Preview a source.","operationId":"preview_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"linkPreviewDTO":{"$ref":"#/components/schemas/LinkPreviewDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/source/create":{"post":{"tags":["Connect"],"summary":"This can be used to create sources.","operationId":"newSource","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"sourceRequest":{"$ref":"#/components/schemas/SourceRequestDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/source/checkFolderPath":{"post":{"tags":["Connect"],"summary":"This can be used to update sources.","operationId":"checkFolderPath","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestConnection"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/link/update":{"post":{"tags":["Connect"],"summary":"This can be used to update link.","operationId":"update_4","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"link":{"$ref":"#/components/schemas/LinkRequestDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/link/schema/livelink/{id}":{"post":{"tags":["Connect"],"summary":"This endpoint can be used to get the schema of a livelink.","operationId":"schema","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/link/preview/{id}":{"post":{"tags":["Connect"],"summary":"This endpoint can be used to Preview a livelink.","operationId":"preview_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"linkPreviewDTO":{"$ref":"#/components/schemas/LinkPreviewDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/link/create":{"post":{"tags":["Connect"],"summary":"This can be used to create link.","operationId":"newLink","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"link":{"$ref":"#/components/schemas/LinkRequestDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/config/{agentId}/agentStats":{"post":{"tags":["Connect"],"summary":"Update connect config status.","operationId":"agentStatus","parameters":[{"name":"agentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentStats"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/agent/update":{"post":{"tags":["Connect"],"summary":"This can be used to create agents.","operationId":"update_5","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"agent":{"$ref":"#/components/schemas/Agents"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/agent/download/{code}":{"post":{"tags":["Connect"],"summary":"This can be used to download code.","operationId":"downloadAgent","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/connect/agent/create":{"post":{"tags":["Connect"],"summary":"This can be used to create agents.","operationId":"newAgent","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"agents":{"$ref":"#/components/schemas/AgentRequestDTO"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/{buildId}/log":{"get":{"tags":["Build"],"summary":"This endpoint is for frontend to get logs after it gets socket message","operationId":"logGet","parameters":[{"name":"buildId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Build"],"summary":"This endpoint is for funnel and shyne to use for sending only messages while build running.","operationId":"logPost","parameters":[{"name":"buildId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/updateBuildLog":{"post":{"tags":["Build"],"summary":"Update build log for other properties than messages.","operationId":"updateBuildLogOtherThanMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildLogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/status/all":{"post":{"tags":["Build"],"summary":"Get all builds status.","operationId":"statusAll","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildFilters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/getBuildSpecificationWithAnother":{"post":{"tags":["Build"],"summary":"This endpoint is used to get build specification with other specified properties","operationId":"GetSpecificationWithAnother","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckAnotherSpecification"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/getBuildSpecificationByBuildId/{buildId}":{"post":{"tags":["Build"],"summary":"Provides Build Spec by Build Id","operationId":"getBuildSpecificationByBuildId","parameters":[{"name":"buildId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/buildNotebook":{"post":{"tags":["Build"],"summary":"Initiate build for notebook dataset","operationId":"buildNotebook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotebookBuildInitiateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/buildBySource":{"post":{"tags":["Build"],"summary":"Check Schedules and build by source","operationId":"buildBySource","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildSpecification"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/build/{triggerType}":{"post":{"tags":["Build"],"summary":"Build by a trigger such as dataset or repositoryId and branch.","operationId":"buildByTrigger","parameters":[{"name":"triggerType","in":"path","required":true,"schema":{"type":"string","enum":["COLUMNSTATS","SYNCHRO","CONNECT","UPLOAD","NOTEBOOK","SQL","PYTHON","DATASET","SCHEDULE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/build/abort":{"post":{"tags":["Build"],"summary":"Abort builds and on dataset page it also sends back sockets","operationId":"abortBuild","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbortBuildRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/bezier/resolveBezierLinks":{"post":{"tags":["Bezier"],"summary":"Resolves Bezier links for funnel / shyne","operationId":"resolveLinks","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveBezierLinksDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/accessManager/createAccessRequest":{"post":{"tags":["AccessManager"],"summary":"Create a new access request","operationId":"createAccessRequest","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"requestAccessModel":{"$ref":"#/components/schemas/RequestAccessModel"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/accessManager/closeAccessRequest":{"post":{"tags":["AccessManager"],"summary":"Update or Reject access Request","operationId":"closeAccessRequest","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"closeRequest":{"$ref":"#/components/schemas/CloseRequest"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/accessManager/all":{"post":{"tags":["AccessManager"],"summary":"Get All Access Request Belonging to you","operationId":"getAllAccessRequests","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authUser":{"$ref":"#/components/schemas/AuthUser"},"accessManagerFilters":{"$ref":"#/components/schemas/AccessManagerFilters"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/synchro/sync/{syncId}":{"get":{"tags":["Synchro"],"summary":"Get sync.","operationId":"getSync","parameters":[{"name":"syncId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/synchro/sync/{datasetId}/{branch}":{"get":{"tags":["Synchro"],"summary":"Get syncs.","operationId":"getDatasetSyncs","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/subscribe/sendMail":{"get":{"tags":["Subscribe"],"summary":"Delete Subscription.","operationId":"sendMail","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/subscribe/getSubscription/{resourceId}":{"get":{"tags":["Subscribe"],"summary":"Get Subscription.","operationId":"get","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/sso/list":{"get":{"tags":["Passport"],"operationId":"ssoList","parameters":[{"name":"obj","in":"query","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/scheduler/{id}":{"get":{"tags":["Scheduler"],"summary":"Get schedule job by Id.","operationId":"getSchedule","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Scheduler"],"summary":"Delete all schedules by resource id","operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/scheduler/logs/{id}":{"get":{"tags":["Scheduler"],"summary":"Get schedule job logs by jobId.","operationId":"getScheduleLogs","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/scheduler/getJob/{resourceId}/{branch}/{resourceType}":{"get":{"tags":["Scheduler"],"summary":"Get by datasetId and branch.","operationId":"getByDatasetIdAndBranch","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","required":true,"schema":{"type":"string","enum":["FILE","FOLDER","CHART","PROJECT","REPOSITORY","DASHBOARD","CONNECT","AGENT","SOURCE","WEBHOOK","POSTGRESSOURCE","MARIASOURCE","MYSQLSERVERSOURCE","ORACLE21SOURCE","MYSQLSOURCE","SNOWFLAKESOURCE","FILESYSTEMSOURCE","LINK","DATASET"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/getSparkConfig":{"get":{"tags":["Platform"],"summary":"Get Spark Config for Platform.","operationId":"getGitConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/getSMTPConfig":{"get":{"tags":["Platform"],"summary":"Get SMTP Config for Platform.","operationId":"getSMTPConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/getGitConfig":{"get":{"tags":["Platform"],"summary":"Get Git Config for Platform.","operationId":"getGitConfig_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/getCacheConfig":{"get":{"tags":["Cache"],"summary":"Get Cache Config for Platform.","operationId":"getBackingFsConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/platform/getBackingFsConfig":{"get":{"tags":["Platform"],"summary":"Get BackingFs Config for Platform.","operationId":"getBackingFsConfig_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/{userId}":{"get":{"tags":["Passport"],"summary":"It provides details about user by userID","operationId":"userById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Passport"],"summary":"It Deletes the user by userId","operationId":"deleteUserById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/{userId}/loginHistory":{"get":{"tags":["Passport"],"summary":"It provides login history of user","operationId":"loginHistory","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/{userId}/last10Login":{"get":{"tags":["Passport"],"summary":"It provides login history of user last 100","operationId":"last10Login","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/userResourcePermissions/{Id}":{"get":{"tags":["Passport"],"summary":"Gives true or false if the logged in user is user administrator or not","operationId":"userResourcePermissions","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/userProjects/{id}":{"get":{"tags":["Passport"],"summary":"It provides paginated list of user groups with their role.","operationId":"yourProjects","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/userGroups/{id}":{"get":{"tags":["Passport"],"summary":"Gives the list of groups which user belongs to.","operationId":"userGroups","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/me":{"get":{"tags":["Passport"],"summary":"It provides groups related to existing user","operationId":"getMe","parameters":[{"name":"authUser","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthUser"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/isUserAdministrator":{"get":{"tags":["Passport"],"summary":"Gives true or false if the logged in user is user administrator or not","operationId":"isUserAdministrator","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/isProjectAdministrator":{"get":{"tags":["Passport"],"summary":"Gives true or false if the logged in user is project administrator or not","operationId":"isProjectAdministrator","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/isPlatformAdministrator":{"get":{"tags":["Passport"],"summary":"Gives true or false if the logged in user is platform administrator or not","operationId":"isPlatformAdministrator","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/isGroupAdministrator":{"get":{"tags":["Passport"],"summary":"Gives true or false if the logged in user is group administrator or not","operationId":"isGroupAdministrator","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/isConnectAdministrator":{"get":{"tags":["Passport"],"summary":"Gives true or false if the logged in user is connect administrator or not","operationId":"isConnectAdministrator","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/getNotificationPreferences":{"get":{"tags":["Passport"],"summary":"Get notification Preferences","operationId":"getNotificationPreferences","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/users/all":{"get":{"tags":["Passport"],"summary":"It provides list of all users","operationId":"getUsersAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/token/GetLongLived":{"get":{"tags":["Passport"],"summary":"It provides list of all users tokens","operationId":"getMyLongLivedTokens","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TokenLongLived"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/roles/getById/{Id}":{"get":{"tags":["Passport"],"summary":"It provides Roles by Id","operationId":"getById","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/roles/all":{"get":{"tags":["Passport"],"summary":"It provides list of all roles","operationId":"getRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/{identityId}/{resourceId}/{roleId}":{"get":{"tags":["Passport"],"summary":"It provides permissions mapping by identityId and resourceId and roleId","operationId":"getByIdentityIdAndResourceIdAndRoleId","parameters":[{"name":"identityId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"roleId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/getByRoleId/{roleId}":{"get":{"tags":["Passport"],"summary":"It provides permissions mapping by roleId","operationId":"getByRoleId","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/getByResourceId/{resourceId}":{"get":{"tags":["Passport"],"summary":"It provides permissions mapping by resourceId","operationId":"getByResourceId","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/getByIdentityId/{identityId}":{"get":{"tags":["Passport"],"summary":"It provides permissions mapping by identityId","operationId":"getByIdentityId","parameters":[{"name":"identityId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/getById/{Id}":{"get":{"tags":["Passport"],"summary":"It provides Permissions Mapping by Id","operationId":"getById_1","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/permissionsMapping/all":{"get":{"tags":["Passport"],"summary":"It provides list of all Permissions Mapping","operationId":"getRoles_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PermissionsMapping"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/oath2/registrations/all":{"get":{"tags":["Passport"],"operationId":"getAllRegistration","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OAuth2Client"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/oath2/available":{"get":{"tags":["Passport"],"operationId":"availableSSO","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/groups/{Id}":{"get":{"tags":["Passport"],"summary":"It provides Groups by Id","operationId":"getById_2","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/groups/getAllSystemGroups":{"get":{"tags":["Passport"],"summary":"It provides list of all groups","operationId":"getAllSystemGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/groups/getAllResourceGroups":{"get":{"tags":["Passport"],"summary":"It provides list of all groups","operationId":"getAllResourceGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/groups/all":{"get":{"tags":["Passport"],"summary":"It provides list of all groups","operationId":"getAllGroups","parameters":[{"name":"authUser","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthUser"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupCategoriesDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/passport/authz/resourcePermission/{resourceId}":{"get":{"tags":["Passport"],"summary":"Get resource permission","operationId":"resourcePermission","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/news/all":{"get":{"tags":["News"],"summary":"Get all news with priority and createdAt time","operationId":"getAllNews_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/{Id}":{"get":{"tags":["Kitab"],"summary":"It provides project by Id","operationId":"getProjectById","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceModel"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/{Id}/{newName}/rename":{"get":{"tags":["Kitab"],"summary":"It rename folder by Id","operationId":"rename_2","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"newName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/{Id}/{newDescription}/renameDescription":{"get":{"tags":["Kitab"],"summary":"It rename description of resource by Id","operationId":"renameDescription","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"newDescription","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/{Id}/restoreFromTrash":{"get":{"tags":["Kitab"],"summary":"It restore from trash by ID","operationId":"restoreFromTrash","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/{Id}/getPath":{"get":{"tags":["Kitab"],"summary":"Provides logical path based on Id","operationId":"getPath","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/updatedByYou":{"get":{"tags":["Kitab"],"summary":"It provides Kitab list of updated resources by you.","operationId":"updatedByYou","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/transaction/{datasetId}/{branch}/start":{"get":{"tags":["Kitab"],"summary":"Start transaction","operationId":"startTransaction","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}},{"name":"buildId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/transaction/{datasetId}/{branch}/end":{"get":{"tags":["Kitab"],"summary":"End transaction","operationId":"endTransaction","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/transaction/{datasetId}/{branch}/abort":{"get":{"tags":["Kitab"],"summary":"Abort transaction","operationId":"abortTransaction","parameters":[{"name":"datasetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"branch","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/transaction/{buildId}/abort":{"get":{"tags":["Kitab"],"summary":"Abort transactions for a build","operationId":"abortTransaction_1","parameters":[{"name":"buildId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/sampleData/{sampleDataType}":{"get":{"tags":["Kitab"],"summary":"Creates Sample Data","operationId":"sampleData","parameters":[{"name":"sampleDataType","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/recentViews":{"get":{"tags":["Kitab"],"summary":"It provides Kitab list of top viewed resources.","operationId":"recentViews","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/project/all":{"get":{"tags":["Kitab"],"summary":"It provides list of all projects","operationId":"getProjects","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/notifications/allNotifications":{"get":{"tags":["Kitab"],"summary":"Get All the notifications for particular subscriber","operationId":"getAllNotifications","parameters":[{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/{Id}":{"get":{"tags":["Kitab"],"summary":"It provides folder by Id","operationId":"getFolderById","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/getFile/{fileId}":{"get":{"tags":["Kitab"],"summary":"Upload files to a folder","operationId":"getFile","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/children/{Id}/{status}":{"get":{"tags":["Kitab"],"summary":"Get list of all children by parentId","operationId":"getChildren","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/children/{Id}/moveto/{newParentId}":{"get":{"tags":["Kitab"],"summary":"Move datasets/repos/folders","operationId":"moveChildren","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"newParentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/children/{Id}/folderOnly":{"get":{"tags":["Kitab"],"summary":"Get list of all children by parentId but only folders","operationId":"folderOnlyChildren","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceModel"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/children/{Id}/datasetsOnlyAndFolders":{"get":{"tags":["Kitab"],"summary":"Get list of all children by parentId but only datasets ","operationId":"datasetsOnlyChildren","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceModel"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/children/{Id}/dashboardsOnlyAndFolders":{"get":{"tags":["Kitab"],"summary":"Get list of all children by parentId but only dashboards","operationId":"dashboardsOnlyAndFolders","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceModel"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/folder/authz/{Id}":{"get":{"tags":["Kitab"],"summary":"Authz testing","operationId":"getFolderByIdAuthz","parameters":[{"name":"Id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/favourites":{"get":{"tags":["Kitab"],"summary":"It provides Kitab list of favourites resources.","operationId":"favourites","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"deprecated":true,"security":[{"bearerAuth":[]}]}},"/api/kitab/favourite/{resourceId}":{"get":{"tags":["Kitab"],"summary":"Gives boolean if the resource in favourites.","operationId":"isFavourites","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/updatedByYou":{"get":{"tags":["File Explorer"],"summary":"It provides Kitab list of updated by you resources.","operationId":"updatedByYou_1","parameters":[{"name":"authUser","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthUser"}},{"name":"pageSettings","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageSettings"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/trash/{projectId}":{"get":{"tags":["File Explorer"],"summary":"It provides root directory structure of a project.","operationId":"projectTrash","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/recent":{"get":{"tags":["File Explorer"],"summary":"It provides Kitab list of recently viewed/updated/created resources.","operationId":"recent","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/kitab/explorer/projects":{"get":{"tags":["File Explorer"],"summary":"It provides list of all active projects.","operationId":"projects","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"
[...]
