.settings-centre-block-child {
  display: flex;
  flex-direction: row;
  row-gap: 30%;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.settings-centre-block-grandchild {
  @media (max-width: 768px) {
    display: flex !important;
  }
}
