.settingpage-layout-sidebar {
  @media (max-width: 768px) {
    max-width: 50px;
    flex: none !important;
    padding: 0px !important;
    overflow: hidden !important;
  }
}

.boslerButton {
  @media (max-width: 768px) {
    padding: 4px 15px !important;
  }
}
.back-icon-settings-page {
  @media (max-width: 768px) {
    margin: 12px !important;
  }
}
.settingpage-layout-outlet {
  @media (max-width: 768px) {
    padding: 0px;
  }
}
.ant-typography {
  @media (max-width: 768px) {
    word-break: normal;
  }
}
.settings-mailer-row {
  @media (max-width: 768px) {
    display: block;
  }
}
.settings-mailer-col {
  span {
    @media (max-width: 768px) {
      display: block ruby;
    }
  }
}
.settings-mailer-input {
  @media (max-width: 768px) {
    width: 200px;
  }
}
.settings-git-row {
  @media (max-width: 768px) {
    display: block;
  }
}
.settings-spark-row {
  @media (max-width: 768px) {
    display: block;
  }
}
.settings-spark-col {
  @media (max-width: 768px) {
    display: initial;
  }
}
.--hide-on-small-screen {
  @media (max-width: 768px) {
    display: none !important;
  }
}
