.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  gap: 5px;
}

.headerRight {
  display: flex;
  gap: 5px;
}

.syncBodyBottomBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indexRow {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;
}
