.baseTypography {
  text-wrap: nowrap;
}
.bth1 {
}
.bth2 {
  margin: 0px;
  color: rgb(1, 1, 27);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.025em;
  line-height: 31px;
}
.bth3 {
}
.bth4 {
}
.bthinternal {
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
  align-items: center;
  padding: 14px 0px 4px 15px;

  margin: 0px;
  color: rgb(113, 122, 148);
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.bttext {
  color: rgb(113, 122, 148);
  font-size: 12px;
  line-height: 16px;
}

.bttitle {
  display: flex;
  font-weight: 500;
}

.ellipsisText {
  display: inline-block;
  // max-width: 100%; /* Allows it to take up the full width of the parent */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;

  /* Tooltip */
  &:hover {
    position: relative;

    &::after {
      content: attr(title); /* Use the title attribute for the tooltip text */
      position: absolute;
      left: 0;
      top: 100%;
      white-space: nowrap;
      background-color: #333;
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }
}
.copyTooltip::after {
  content: attr(data-text); /* Use the title attribute for the tooltip text */
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 1;
}

.noTooltip::after {
  content: ""; /* Empty content, so nothing is displayed */
  display: none; /* Hide the pseudo-element */
}

.copyTooltip {
  margin-left: 5px;
}

.para {
  color: rgb(113, 122, 148);
  font-size: 12px;
  line-height: 16px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.highlight {
  background-color: yellow; /* Example highlight color */
}
