.connector_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connector_top_authtype {
  background-color: skyblue;
}

.method {
  background-color: #d5d9de;
}

.requestUrl {
  display: flex;
  padding: 5px;
}

.overlayContainer {
  position: absolute;
  width: 400px;
  padding: 10px;
  background: var(--background-color);
  border: 1px solid var(--bosler-border-color-default);
  z-index: 1000;
  display: flex;
  font-size: 14px;
}

.mappingTypeSelection {
  width: 150px;
  padding-right: 5px;
  border-right: 1px solid var(--bosler-border-color-default);
}

.typeList {
  background-color: var(--bosler-hover-color);
  list-style: none;
  padding: 4px 8px;
  cursor: pointer;
}

.optionsPanel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.optionDescription {
  margin: 5px 0 15px;
  font-size: 0.85em;
}

.buttonContainer {
  display: flex;
  gap: 5px;
}

.requestContainer {
  border-radius: 3px;
  padding: 6px;
  width: calc(100% - 16px);
  position: relative;
  box-shadow: var(--bosler-border-color-default) 0px 0px 0px 1px;
  transition: box-shadow 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.requestContainer::before {
  content: "";
  position: absolute;
  top: 100px;
  left: -15px;
  width: 15px;
  height: 100%;
}

.requestContainerWrapper {
  position: relative;
}

.requestContainerWrapper::before {
  content: "";
  position: absolute;
  top: -22px;
  left: -15px;
  width: 15px;
  height: calc(124px);
  border-left: 1px solid var(--ACTION_COLOR_BORDER);
}

.apiTitle {
  font-size: 22px;
  font-weight: 500;
}

.requestURLMethods {
  min-width: 100px;
  width: 150px;
  height: 30px;
}

.requestURLMethods span {
  font-weight: 500;
}
